﻿<script>brease.setOptions("AlarmContent_NailersTabList", {"top": 0,"left": 0,"width": 1241,"height": 600,"zIndex": 0,"borderStyle": "solid","borderWidth": "5px","borderColor": "rgba(255, 133, 0, 1)","className":"widgets/brease/TabControl","parentContentId":"AlarmContent"});
brease.setOptions("AlarmContent_Table", {"height": 30,"left": 0,"width": 150,"zIndex": 0,"text": "Alarms","borderWidth": "0px 1px 1px 0px","className":"widgets/brease/TabItem","parentContentId":"AlarmContent"});
brease.setOptions("AlarmContent_AlarmList1", {"top": 10,"left": 5,"width": 1215,"height": 540,"zIndex": 0,"className":"widgets/brease/AlarmList","parentContentId":"AlarmContent"});
brease.setOptions("AlarmContent_AlarmListItem1", {"width": 200,"height": 0,"zIndex": 0,"columnType": "timestamp","text": "Alarm Time","className":"widgets/brease/AlarmListItem","parentContentId":"AlarmContent"});
brease.setOptions("AlarmContent_AlarmListItem2", {"height": 0,"width": 815,"zIndex": 1,"text": "Alarm Message","className":"widgets/brease/AlarmListItem","parentContentId":"AlarmContent"});
brease.setOptions("AlarmContent_AlarmListItem3", {"width": 200,"height": 0,"zIndex": 2,"columnType": "state","text": "Alarm State","className":"widgets/brease/AlarmListItem","parentContentId":"AlarmContent"});
brease.setOptions("AlarmContent_TabItem1", {"height": 30,"left": 0,"width": 150,"zIndex": 1,"text": "History","className":"widgets/brease/TabItem","parentContentId":"AlarmContent"});
brease.setOptions("AlarmContent_AlarmHistory1", {"top": 10,"left": 5,"width": 1215,"height": 540,"zIndex": 0,"className":"widgets/brease/AlarmHistory","parentContentId":"AlarmContent"});
</script><div id="AlarmContent_NailersTabList" data-brease-widget="widgets/brease/TabControl"><div id="AlarmContent_Table" data-brease-widget="widgets/brease/TabItem"><div id="AlarmContent_AlarmList1" data-brease-widget="widgets/brease/AlarmList"><div id="AlarmContent_AlarmListItem1" data-brease-widget="widgets/brease/AlarmListItem"></div><div id="AlarmContent_AlarmListItem2" data-brease-widget="widgets/brease/AlarmListItem"></div><div id="AlarmContent_AlarmListItem3" data-brease-widget="widgets/brease/AlarmListItem"></div></div></div><div id="AlarmContent_TabItem1" data-brease-widget="widgets/brease/TabItem"><div id="AlarmContent_AlarmHistory1" data-brease-widget="widgets/brease/AlarmHistory"></div></div></div>