﻿<script>brease.setOptions("Home_Robot", {"top": 0,"left": 0,"width": 1240,"height": 600,"zIndex": 0,"borderStyle": "solid","borderWidth": "5px","borderColor": "rgba(255, 133, 0, 1)","className":"widgets/brease/TabControl","parentContentId":"Home"});
brease.setOptions("Home_Table", {"height": 30,"left": 0,"width": 150,"zIndex": 0,"text": "Main","borderWidth": "0px 1px 1px 0px","className":"widgets/brease/TabItem","parentContentId":"Home"});
brease.setOptions("Home_Image1", {"top": 10,"left": 10,"width": 1220,"height": 545,"zIndex": 0,"image": "Media/SSE_Line_SideView.PNG","className":"widgets/brease/Image","parentContentId":"Home"});
brease.setOptions("Home_NavigationButton1", {"top": 125,"left": 660,"width": 129,"height": 120,"zIndex": 1,"pageId": "Nailers","borderWidth": "0px","borderColor": "rgba(255, 0, 0, 1)","textAlign": "right","style": "transparent","className":"widgets/brease/NavigationButton","parentContentId":"Home"});
brease.setOptions("Home_TabItem1", {"height": 30,"left": 0,"width": 150,"zIndex": 1,"text": "Production","className":"widgets/brease/TabItem","parentContentId":"Home"});
brease.setOptions("Home_BarChart1", {"top": 45,"left": 63,"width": 480,"height": 470,"zIndex": 0,"className":"widgets/brease/BarChart","parentContentId":"Home"});
brease.setOptions("Home_BarChart2", {"top": 45,"left": 591,"width": 480,"height": 470,"zIndex": 1,"className":"widgets/brease/BarChart","parentContentId":"Home"});
brease.setOptions("Home_BarChart3", {"top": 45,"left": 1123,"width": 480,"height": 470,"zIndex": 2,"className":"widgets/brease/BarChart","parentContentId":"Home"});
brease.setOptions("Home_Tools", {"height": 30,"left": 0,"width": 150,"zIndex": 2,"text": "Part Data","className":"widgets/brease/TabItem","parentContentId":"Home"});
brease.setOptions("Home_AlarmList1", {"top": 15,"left": 15,"width": 1165,"height": 525,"zIndex": 0,"className":"widgets/brease/AlarmList","parentContentId":"Home"});
</script><div id="Home_Robot" data-brease-widget="widgets/brease/TabControl"><div id="Home_Table" data-brease-widget="widgets/brease/TabItem"><div id="Home_Image1" data-brease-widget="widgets/brease/Image"></div><div id="Home_NavigationButton1" data-brease-widget="widgets/brease/NavigationButton"></div></div><div id="Home_TabItem1" data-brease-widget="widgets/brease/TabItem"><svg id="Home_BarChart1" data-brease-widget="widgets/brease/BarChart"></svg><svg id="Home_BarChart2" data-brease-widget="widgets/brease/BarChart"></svg><svg id="Home_BarChart3" data-brease-widget="widgets/brease/BarChart"></svg></div><div id="Home_Tools" data-brease-widget="widgets/brease/TabItem"><div id="Home_AlarmList1" data-brease-widget="widgets/brease/AlarmList"></div></div></div>