﻿@import "mixins.scss";
@import "../../../../widgets/brease/Button/meta/Button_base";
.widgets_brease_Button_style_default {
@include widgets_brease_Button_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(30px);
&:not(.active):not(.checked) {
	border-width: 0px 0px 0px 0px;
}
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
&.active:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.checked:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.disabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.active {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.checked {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&:not(.active):not(.checked) {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked:not(.disabled) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/NavigationButton/meta/NavigationButton_base";
.widgets_brease_NavigationButton_style_default {
@include widgets_brease_NavigationButton_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #FFFFFF;
}
&.checked:not(.disabled):not(.active) span {
	color: #FFFFFF;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FF8500;
}
&.checked:not(.disabled) span {
	color: #FF8500;
}
@include border-radius(0px);
&.checked:not(.active):not(.disabled) {
	background-color: rgba(255, 255, 255, 0);
}
&.checked:not(.active):not(.disabled) {
	border-color: rgba(255, 131, 0, 1);
}
&:not(.active):not(.checked) {
	border-width: 0px 5px 0px 0px;
}
&.disabled {
	border-width: 0px 5px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-color: rgba(255, 131, 0, 1);
}
&:not(.disabled):not(.checked) {
	border-color: rgba(229, 229, 229, 1);
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom, #6A664A 0%,#7C7C7C 100%)');
}
&.active:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%) ');
}
&.checked:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%) ');
}
&.checked:not(.disabled):not(.active) {
@include backGroundGradient('linear-gradient(to bottom, #6A664A 0%,#7C7C7C 100%)');
}
&.disabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.active {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.checked {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&:not(.active):not(.checked) {
@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.active {
@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
}
&.checked {
@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
}
&.disabled.checked {
@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
}

}
@import "../../../../widgets/brease/ToggleButton/meta/ToggleButton_base";
.widgets_brease_ToggleButton_style_default {
@include widgets_brease_ToggleButton_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(30px);
&:not(.active):not(.checked) {
	border-width: 0px 0px 0px 0px;
}
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
&.active:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.checked:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.checked:not(.disabled):not(.active) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.disabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.active {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.checked {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&:not(.active):not(.checked) {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_default {
@include widgets_brease_Label_base; 
	font-size: 16px;
& span {
	color: #474747;
}
	background-color: transparent;
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 5px;
}

}
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_default {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #474747;
}
&:not(.disabled) {
	border-width: 2px 2px 1px 1px;
}
&:not(.active):not(.disabled) {
	border-color: #FF8800;
}
&.active:not(.disabled) {
	border-color: #FF8800;
}
	font-size: 16px;
&:not(.active):not(.disabled) {
	background-color: #FFFFFF;
}
&.active:not(.disabled) {
	background-color: #EBEBEB;
}
&.active:not(.disabled) span {
	color: #555555;
}
@include font-weight-bold(true);
@include box-shadow(4px 1px 3px 0px rgba(255, 113, 0, 0.75));
@include text-alignment(left);

}
@import "../../../../widgets/brease/DateTimeOutput/meta/DateTimeOutput_base";
.widgets_brease_DateTimeOutput_style_default {
@include widgets_brease_DateTimeOutput_base; 
& span {
	color: #474747;
}
	border-width: 0px;
	font-size: 16px;
	background-color: transparent;
@include font-weight-bold(true);
@include text-alignment(left);

}
@import "../../../../widgets/brease/KeyBoard/meta/KeyBoard_base";
.widgets_brease_KeyBoard_style_default {
@include widgets_brease_KeyBoard_base; 
.keyBoardHeader {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%)');
}
.keyBoardBody {
	background-color: #CCCCCC;
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
.dropdown .button.active {
	background-color: #FFA800;
}
.dropdown .button.selected {
	background-color: #FFA800;
}
.keyBoardBody button.active {
	background-color: #FFA800;
}
.keyBoardBody button.selected {
	background-color: #FFA800;
}
.keyBoardBody button.active .icon-delete {
	color: #FFA800;
}
.keyBoardBody button.selected .icon-delete {
	color: #FFA800;
}
.dropdown {
	color: #000000;
}
.keyBoardButtons button {
	color: #000000;
}
.keyBoardButtons button sub {
	color: #000000;
}
.keyBoardButtons button svg {
	fill: #000000;
}
.keyBoardBody button .icon-shift {
	background-color: #000000;
}
.keyBoardBody button .icon-shift:after {
	border-bottom-color: #000000;
}

}
@import "../../../../widgets/brease/NumPad/meta/NumPad_base";
.widgets_brease_NumPad_style_default {
@include widgets_brease_NumPad_base; 
.numpadHeader {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%)');
}
.numpad {
	background-color: #CCCCCC;
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: #7C7C7C;
}
&.arrowRight .breaseWindowArrow {
	border-left-color: #7C7C7C;
}
&.arrowTop .breaseWindowArrow {
	border-bottom-color: #7C7C7C;
}
&.arrowBottom .breaseWindowArrow {
	border-top-color: #7C7C7C;
}
.breaseNumPadButtons button {
	color: #000000;
}
.breaseNumPadDeleteIcon {
@include svgcolordelete('#000000');
}
.breaseNumPadEnterIcon {
@include svgcolorenter('#000000');
}
.breaseNumpadSlider .numpadSlider_thumb .numpadSlider_knob {
@include backGroundGradient('radial-gradient(ellipse at left, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%)');
}

}
@import "../../../../widgets/brease/DateTimePicker/meta/DateTimePicker_base";
.widgets_brease_DateTimePicker_style_default {
@include widgets_brease_DateTimePicker_base; 
header {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: #7C7C7C;
}
&.arrowRight .breaseWindowArrow {
	border-left-color: #7C7C7C;
}
&.arrowTop .breaseWindowArrow {
	border-bottom-color: #7C7C7C;
}
&.arrowBottom .breaseWindowArrow {
	border-top-color: #7C7C7C;
}

}
@import "../../../../widgets/brease/TabControl/meta/TabControl_base";
.widgets_brease_TabControl_style_default {
@include widgets_brease_TabControl_base; 
> .container {
	border-style: none;
}
> .container {
	border-width: 0px;
}
> .container {
	border-color: transparent;
}

}
@import "../../../../widgets/brease/TabItem/meta/TabItem_base";
.widgets_brease_TabItem_style_default {
@include widgets_brease_TabItem_base; 
&.tabItem:not(.active) span {
	color: #474747;
}
&.tabItem span {
	font-size: 16px;
}
&.tabItem:not(.active) {
@include border-radius(8px 8px 0px 0px);
}
&.tabItem:not(.active) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
&.tabItem.active {
@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%)');
}
&.tabItem:not(.active) {
	border-width: 0px 1px 1px 0px;
}
&.tabItem.active {
	border-width: 0px 1px 1px 0px;
}
&.tabItem:not(.active) {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
&.tabItem.active {
	border-color: #FFA947 #FD7B01 #FD7B01 #FFA947;
}
&.tabItem.active span {
	color: #FFFFFF;
}

}
@import "../../../../widgets/brease/GroupBox/meta/GroupBox_base";
.widgets_brease_GroupBox_style_default {
@include widgets_brease_GroupBox_base; 
> .header {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
	background-color: #FFFFFF;
> .header span {
	font-size: 16px;
}
> .header {
height: 16px + 20px;
}
> .header span {
	color: #474747;
}
@include border-radius(8px 8px 0px 0px);
	border-width: 1px;
> .header {
	border-width: 1px;
}
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
> .header {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../widgets/brease/NumericInput/meta/NumericInput_base";
.widgets_brease_NumericInput_style_default {
@include widgets_brease_NumericInput_base; 
&:not(.disabled) input {
	color: #000000;
}
&:not(.disabled) span.breaseNumericInput_unit {
	color: #000000;
}
	border-width: 2px 2px 1px 1px;
&.active {
	border-width: 2px 2px 1px 1px;
}
&:not(.disabled) {
	border-color: #FF8800;
}
&.active {
	border-color: #FF8800;
}
input {
	font-size: 16px;
}
&:not(.disabled) {
	background-color: #FFFFFF;
}
&.active {
	background-color: #EBEBEB;
}
&.active:not(.disabled) input {
	color: #555555;
}
&.active:not(.disabled) span.breaseNumericInput_unit {
	color: #555555;
}
input {
@include font-weight-bold(true);
}
@include box-shadow(4px 1px 3px 0px rgba(255, 113, 0, 0.75));

}
@import "../../../../widgets/brease/TextInput/meta/TextInput_base";
.widgets_brease_TextInput_style_default {
@include widgets_brease_TextInput_base; 
&:not(.disabled):not(.active) input {
	color: #000000;
}
&:not(.disabled) {
	border-width: 2px 2px 1px 1px;
}
&.active {
	border-width: 2px 2px 1px 1px;
}
&:not(.disabled):not(.active) {
	border-color: #FF8800;
}
&:not(.disabled).active {
	border-color: #FF8800;
}
input {
	font-size: 16px;
}
&:not(.disabled):not(.active) {
	background-color: #FFFFFF;
}
&:not(.disabled).active {
	background-color: #EBEBEB;
}
&:not(.disabled).active input {
	color: #555555;
}
input {
@include font-weight-bold(true);
}
@include box-shadow(4px 1px 3px 0px rgba(255, 113, 0, 0.75));
input {
@include text-alignment(left);
}

}
@import "../../../../widgets/brease/TextOutput/meta/TextOutput_base";
.widgets_brease_TextOutput_style_default {
@include widgets_brease_TextOutput_base; 
& span {
	color: #474747;
}
	border-width: 0px;
	font-size: 16px;
	background-color: transparent;
@include font-weight-bold(true);
@include text-alignment-all('left');

}
@import "../../../../widgets/brease/Password/meta/Password_base";
.widgets_brease_Password_style_default {
@include widgets_brease_Password_base; 
&:not(.disabled):not(.active) input {
	color: #000000;
}
	border-width: 2px 2px 1px 1px;
&.active {
	border-width: 2px 2px 1px 1px;
}
&:not(.disabled):not(.active) {
	border-color: #FF8800;
}
&:not(.disabled).active {
	border-color: #FF8800;
}
input {
	font-size: 16px;
}
&:not(.disabled):not(.active) {
	background-color: #FFFFFF;
}
&:not(.disabled).active {
	background-color: #EBEBEB;
}
&:not(.disabled).active input {
	color: #555555;
}
input {
@include font-weight-bold(true);
}
@include box-shadow(4px 1px 3px 0px rgba(255, 113, 0, 0.75));
input {
@include text-alignment(left);
}

}
@import "../../../../widgets/brease/DropDownBox/meta/DropDownBox_base";
.widgets_brease_DropDownBox_style_default {
@include widgets_brease_DropDownBox_base; 
& .TextView {
	font-size: 16px;
}
& .TextView {
	font-size: 16px;
}
& .TextView {
@include font-weight-bold(true);
}
& .TextView {
@include font-weight-bold(true);
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
	color: #474747;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
& > .ItemView.itemDisabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
& > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
	color: #FFFFFF;
}
&.DropDownBoxView {
@include border-radius(5px);
}
& > .ItemView {
@include border-radius(5px);
}
& > .ListView.Container {
@include border-radius(5px);
}
& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
	background-color: #C6C6C6;
}
& > .ItemView:not(.itemSelected) {
	border-width: 0px 5px 0px 0px;
}
& > .ItemView.itemSelected {
	border-width: 0px 2px 0px 0px;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
	border-color: #A899A0 #FF8A00 #5F5F5F #A899A0;
}
& > .ListView.Container {
	border-color: #A899A0 #FF8A00 #5F5F5F #A899A0;
}
& > .ItemView.itemSelected:not(.itemDisabled) {
	border-color: #FFA947 #FD7B01 #FD7B01 #FFA947;
}
& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
	color: #FFFFFF;
}
& > .ListView.Container > .ListView.List > .ItemView.itemSelected {
@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%)');
}
& > .ListView.Container {
	border-width: 0px;
}
& .TextView {
@include text-alignment(left);
}
& .TextView {
@include text-alignment(left);
}

}
@import "../../../../widgets/brease/LoginInfo/meta/LoginInfo_base";
.widgets_brease_LoginInfo_style_default {
@include widgets_brease_LoginInfo_base; 
& span {
	color: #474747;
}
	border-width: 0px;
	font-size: 16px;
	background-color: transparent;
@include font-weight-bold(true);
@include text-alignment-all('left');

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_default {
@include widgets_brease_Rectangle_base; 
	border-width: 1px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #474747;
	opacity: 1;

}
@import "../../../../widgets/brease/Ellipse/meta/Ellipse_base";
.widgets_brease_Ellipse_style_default {
@include widgets_brease_Ellipse_base; 
	border-width: 1px;
	background-color: transparent;
	border-color: #474747;
	opacity: 1;

}
@import "../../../../widgets/brease/CheckBox/meta/CheckBox_base";
.widgets_brease_CheckBox_style_default {
@include widgets_brease_CheckBox_base; 
	border-style: none;
span {
	font-size: 16px;
}
&:not(.disabled) span {
	color: #474747;
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: transparent;
}
&.active:not(.disabled):not(.editMode) {
	background-color: transparent;
}
&.checked:not(.disabled) {
	background-color: transparent;
}
&.disabled {
	background-color: transparent;
}
&.disabled span {
	color: #CCCCCC;
}
&.disabled.checked span {
	border-color: #CCCCCC;
}
&.disabled.active span {
	border-color: #CCCCCC;
}
span {
@include font-weight-bold(false);
}

}
@import "../../../../widgets/brease/FlyOut/meta/FlyOut_base";
.widgets_brease_FlyOut_style_default {
@include widgets_brease_FlyOut_base; 
.breaseFlyOutWrapper > .container {
	background-color: #d9d9d9;
}
.breaseFlyOutWrapper > .container {
	border-style: none;
}
.breaseFlyOutWrapper > .container {
	border-width: 0px;
}
.breaseFlyOutWrapper > .flyoutButton {
	border-width: 0px;
}
.breaseFlyOutWrapper > .flyoutButton {
@include border-radius(0px);
}
.breaseFlyOutWrapper > .flyoutButton {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}

}
@import "../../../../widgets/brease/BarChart/meta/BarChart_base";
.widgets_brease_BarChart_style_default {
@include widgets_brease_BarChart_base; 
	border-style: none;

}
@import "../../../../widgets/brease/FlexBox/meta/FlexBox_base";
.widgets_brease_FlexBox_style_default {
@include widgets_brease_FlexBox_base; 
	border-style: none;
> .header {
	border-bottom-style: none;
}

}
@import "../../../../widgets/brease/AlarmList/meta/AlarmList_base";
.widgets_brease_AlarmList_style_default {
@include widgets_brease_AlarmList_base; 
&.breaseTableWidget .devTableColumnWidget:not(.disabled) {
	background-color: rgba(221,221,221,1);
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../widgets/brease/AlarmHistory/meta/AlarmHistory_base";
.widgets_brease_AlarmHistory_style_default {
@include widgets_brease_AlarmHistory_base; 
&.breaseTableWidget .devTableColumnWidget:not(.disabled) {
	background-color: rgba(221,221,221,1);
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));

}
