@import "mixins.scss";
@mixin widgets_brease_NavigationButton_base {
	@include elemWidth(100);
	@include elemHeight(30);
img {
	@include imageWidth(0);
}
svg {
	@include imageWidth(0);
}
img {
	@include imageHeight(0);
}
svg {
	@include imageHeight(0);
}
&:not(.active):not(.disabled):not(.checked) svg {
	fill: #000000;
}
&.active svg {
	fill: #000000;
}
&.disabled svg {
	fill: #000000;
}
	border-style: solid;
&.active {
	border-style: solid;
}
&.checked {
	border-style: solid;
}
&.disabled {
	border-style: solid;
}
&:not(.active):not(.checked) {
	border-width: 2px;
}
&.disabled {
	border-width: 2px;
}
	@include border-radius(0px);
&:not(.disabled):not(.active):not(.checked) {
	background-color: #DBDBDB;
}
&.disabled:not(.checked) {
	background-color: #F1F1F1;
}
&:not(.disabled):not(.active):not(.checked) {
	@include backGroundGradient('');
}
&.disabled {
	@include backGroundGradient('');
}
&.disabled.active {
	@include backGroundGradient('');
}
&.disabled.checked {
	@include backGroundGradient('');
}
&.active:not(.disabled) {
	@include backGroundGradient('');
}
&.checked:not(.disabled) {
	@include backGroundGradient('');
}
&:not(.disabled) {
	@include pureBackgroundImage('../');
}
&:not(.disabled):not(.checked) {
	border-color: #5B7C70;
}
&.disabled:not(.active):not(.checked) {
	border-color: #FFFFFF #C8C8C8 #C8C8C8 #FFFFFF;
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #000000;
}
&.disabled span {
	color: #989898;
}
&.disabled.active span {
	color: #989898;
}
&.disabled:checked span {
	color: #989898;
}
&.active:not(.disabled):not(.editMode) {
	border-color: #FD7B01;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 2px;
}
&.checked:not(.disabled) {
	border-width: 2px;
}
&.active:not(.disabled):not(.editMode) {
	background-color: #DBDBDB;
}
&.active:not(.disabled):not(.editMode) span {
	color: #000000;
}
&.checked:not(.disabled) span {
	color: #000000;
}
	@include text-alignment(center);
	opacity: 1;
	@include rotate(0deg);
span {
	font-size: 12px;
}
span {
	font-family: Arial;
}
span {
	@include font-weight-bold(false);
}
span {
	@include font-style-italic(false);
}
	padding: 0px 10px;
	margin: 0px;
&:not(.active):not(.checked) {
	@include box-shadow(none);
}
&.disabled.active {
	@include box-shadow(none);
}
&.disabled.checked {
	@include box-shadow(none);
}
&.active:not(.disabled):not(.editMode) {
	@include box-shadow(none);
}
&.checked {
	@include box-shadow(none);
}
&.disabled.checked {
	@include box-shadow(none);
}
&.checked:not(.active):not(.disabled) {
	background-color: #DBDBDB;
}
&.checked:not(.disabled):not(.active) span {
	color: #000000;
}
&.checked:not(.disabled):not(.active) svg {
	fill: #000000;
}
&.disabled.checked:not(.active) span {
	color: #000000;
}
&.disabled.checked:not(.active) svg {
	fill: #000000;
}
&.checked:not(.active):not(.disabled) {
	border-color: #FD7B01;
}
&.disabled.checked {
	background-color: #F1F1F1;
}
&.disabled.checked {
	border-color: #FFFFFF #C8C8C8 #C8C8C8 #FFFFFF;
}
&.checked:not(.disabled):not(.active) {
	@include backGroundGradient('');
}
&.disabled.checked {
	@include backGroundGradient('');
}

}

.widgets_brease_NavigationButton_style_default {
@include widgets_brease_NavigationButton_base 
}
