@import "mixins.scss";
@mixin widgets_brease_Login_base {
	@include elemWidth(300);
	@include elemHeight(160);
	border-style: none;
	border-width: 2px;
	@include border-radius(0px);
	background-color: transparent;
	@include backGroundGradient('');
	border-color: #5B7C70;
	opacity: 1;
	margin: 0px;
	@include box-shadow(none);

}

.widgets_brease_Login_style_default {
@include widgets_brease_Login_base 
}
