﻿
label[for=editableFilterCheck] {
    display: inline-block;
    padding-left: 20px;
    padding-top: 6px;
}

#editableFilterCheck {
    margin-left: 7px;
}

i.fa-bmode {
    font-size: 1.8em
}

.showValue {
    cursor: pointer
}

table.valueTable {
    width: 100%;
    font-family: arial;
    font-size: 14px;
    border-spacing: 0;
    border-left:none;
    border-right: none;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
}

table.valueTable tbody td {
    border-top: none;
    border: 1px solid #ddd;
    padding: 4px 5px;
}

table.valueTable tbody tr.odd {
    background-color: #f9f9f9;
}

table.valueTable tbody tr.even {
    background-color: #ffffff;
}

table.valueTable tbody td.arrayTableColIndex {
    width: 15px;
}

table.valueTable tbody td.arrayTableColValue {
    width: auto;
}

table.valueTable tbody td.objectTableColIndex {
    width: 40px;
}

table.valueTable tbody td.objectTableColValue {
    width: auto;
}