#Header_DateTimeOutput1 {
  top: 5px;
  position: absolute;
}

#Header_DateTimeOutput1 {
  left: 1009px;
  position: absolute;
}

#Header_DateTimeOutput1 {
  width: 327px;
}

#Header_DateTimeOutput1 {
  height: 20px;
}

#Header_DateTimeOutput1 {
  z-index: 1;
}

#Header_DateTimeOutput1 {
  background-color: rgba(255, 255, 255, 0);
}

#Header_DateTimeOutput1 span {
  color: white;
}

#Header_DateTimeOutput1 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

#Header_Label1 {
  top: 40px;
  position: absolute;
}

#Header_Label1 {
  left: 964px;
  position: absolute;
}

#Header_Label1 {
  width: 215px;
}

#Header_Label1 {
  height: 15px;
}

#Header_Label1 {
  z-index: 2;
}

#Header_Label1 {
  background-color: rgba(255, 255, 255, 0);
}

#Header_Label1 span {
  color: white;
}

#Header_Label1 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Header_Label2 {
  top: 40px;
  position: absolute;
}

#Header_Label2 {
  left: 1190px;
  position: absolute;
}

#Header_Label2 {
  width: 165px;
}

#Header_Label2 {
  height: 15px;
}

#Header_Label2 {
  z-index: 3;
}

#Header_Label2 span {
  color: white;
}

#Header_Label2 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Header_Label3 {
  top: 35px;
  position: absolute;
}

#Header_Label3 {
  left: 100px;
  position: absolute;
}

#Header_Label3 {
  width: 315px;
}

#Header_Label3 {
  height: 20px;
}

#Header_Label3 {
  z-index: 4;
}

#Header_Label3 {
  background-color: rgba(255, 255, 255, 0);
}

#Header_Label3 span {
  color: white;
}

#Header_LoginInfo1 {
  top: 10px;
  position: absolute;
}

#Header_LoginInfo1 {
  left: 220px;
  position: absolute;
}

#Header_LoginInfo1 {
  width: 140px;
}

#Header_LoginInfo1 {
  height: 15px;
}

#Header_LoginInfo1 {
  z-index: 5;
}

#Header_LoginInfo1 {
  background-color: rgba(255, 255, 255, 0);
}

#Header_LoginInfo1 span {
  color: white;
}

#Header_LoginInfo1 {
  font-size: 12px;
}

#Header_Label4 {
  top: 10px;
  position: absolute;
}

#Header_Label4 {
  left: 100px;
  position: absolute;
}

#Header_Label4 {
  width: 180px;
}

#Header_Label4 {
  height: 15px;
}

#Header_Label4 {
  z-index: 6;
}

#Header_Label4 {
  background-color: rgba(255, 255, 255, 0);
}

#Header_Label4 span {
  color: white;
}

#Header_LoginFlyOut_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 200px;
}

#Header_LoginFlyOut.right {
  top: 5px;
  position: absolute;
}

#Header_LoginFlyOut.left {
  top: 5px;
  position: absolute;
}

#Header_LoginFlyOut.top {
  left: 0px;
  position: absolute;
}

#Header_LoginFlyOut.bottom {
  left: 0px;
  position: absolute;
}

#Header_LoginFlyOut_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 350px;
}

#Header_LoginFlyOut {
  z-index: 7;
}

#Header_LoginFlyOut_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 100px;
}

#Header_LoginFlyOut {
  width: 100px;
}

#Header_Login1 {
  width: 300px;
}

#Header_Login1 {
  height: 160px;
}

#Header_Login1 {
  top: 25px;
  position: absolute;
}

#Header_Login1 {
  left: 5px;
  position: absolute;
}

#Header_Login1 {
  z-index: 0;
}

#Header_FlexBox1 {
  top: 0px;
  position: absolute;
}

#Header_FlexBox1 {
  left: 0px;
  position: absolute;
}

#Header_FlexBox1 {
  width: 1370px;
}

#Header_FlexBox1 {
  height: 65px;
}

#Header_FlexBox1 {
  z-index: 0;
}

#Header_FlexBox1 {
  background-color: dimgray;
}

#Header_CurrentScreenHeader {
  top: 10px;
  position: absolute;
}

#Header_CurrentScreenHeader {
  left: 295px;
  position: absolute;
}

#Header_CurrentScreenHeader {
  width: 705px;
}

#Header_CurrentScreenHeader {
  height: 45px;
}

#Header_CurrentScreenHeader {
  z-index: 8;
}

#Header_CurrentScreenHeader span {
  color: #ff8300;
}

#Header_CurrentScreenHeader {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Header_CurrentScreenHeader span {
  font-family: Arial;
}

#Header_CurrentScreenHeader {
  font-size: 48px;
}

#Header_CurrentScreenHeader {
  font-weight: bold;
}

#Header_CurrentScreenHeader {
  font-style: italic;
}
