﻿@import "mixins.scss";
#Header_DateTimeOutput1 {
	@include elemTop(5);
}
#Header_DateTimeOutput1 {
	@include elemLeft(1009);
}
#Header_DateTimeOutput1 {
	@include elemWidth(327);
}
#Header_DateTimeOutput1 {
	@include elemHeight(20);
}
#Header_DateTimeOutput1 {
		z-index: 1;
}
#Header_DateTimeOutput1 {
		background-color: rgba(255, 255, 255, 0);
}
#Header_DateTimeOutput1 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#Header_DateTimeOutput1 {
	@include text-alignment(center);
}
#Header_Label1 {
	@include elemTop(40);
}
#Header_Label1 {
	@include elemLeft(964);
}
#Header_Label1 {
	@include elemWidth(215);
}
#Header_Label1 {
	@include elemHeight(15);
}
#Header_Label1 {
		z-index: 2;
}
#Header_Label1 {
		background-color: rgba(255, 255, 255, 0);
}
#Header_Label1 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#Header_Label1 {
	@include text-alignment-all('center');
}
#Header_Label2 {
	@include elemTop(40);
}
#Header_Label2 {
	@include elemLeft(1190);
}
#Header_Label2 {
	@include elemWidth(165);
}
#Header_Label2 {
	@include elemHeight(15);
}
#Header_Label2 {
		z-index: 3;
}
#Header_Label2 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#Header_Label2 {
	@include text-alignment-all('center');
}
#Header_Label3 {
	@include elemTop(35);
}
#Header_Label3 {
	@include elemLeft(100);
}
#Header_Label3 {
	@include elemWidth(315);
}
#Header_Label3 {
	@include elemHeight(20);
}
#Header_Label3 {
		z-index: 4;
}
#Header_Label3 {
		background-color: rgba(255, 255, 255, 0);
}
#Header_Label3 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#Header_LoginInfo1 {
	@include elemTop(10);
}
#Header_LoginInfo1 {
	@include elemLeft(220);
}
#Header_LoginInfo1 {
	@include elemWidth(140);
}
#Header_LoginInfo1 {
	@include elemHeight(15);
}
#Header_LoginInfo1 {
		z-index: 5;
}
#Header_LoginInfo1 {
		background-color: rgba(255, 255, 255, 0);
}
#Header_LoginInfo1 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#Header_LoginInfo1 {
		font-size: 12px;
}
#Header_Label4 {
	@include elemTop(10);
}
#Header_Label4 {
	@include elemLeft(100);
}
#Header_Label4 {
	@include elemWidth(180);
}
#Header_Label4 {
	@include elemHeight(15);
}
#Header_Label4 {
		z-index: 6;
}
#Header_Label4 {
		background-color: rgba(255, 255, 255, 0);
}
#Header_Label4 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#Header_LoginFlyOut_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(200);
	}
}
#Header_LoginFlyOut {
	&.right{
	@include elemTop(5);
	}
}
#Header_LoginFlyOut {
	&.left{
	@include elemTop(5);
	}
}
#Header_LoginFlyOut {
	&.top{
	@include elemLeft(0);
	}
}
#Header_LoginFlyOut {
	&.bottom{
	@include elemLeft(0);
	}
}
#Header_LoginFlyOut_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(350);
	}
}
#Header_LoginFlyOut {
		z-index: 7;
}
#Header_LoginFlyOut_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(100);
	}
}
#Header_LoginFlyOut {
	@include elemWidth(100);
}
#Header_Login1 {
	@include elemWidth(300);
}
#Header_Login1 {
	@include elemHeight(160);
}
#Header_Login1 {
	@include elemTop(25);
}
#Header_Login1 {
	@include elemLeft(5);
}
#Header_Login1 {
		z-index: 0;
}
#Header_FlexBox1 {
	@include elemTop(0);
}
#Header_FlexBox1 {
	@include elemLeft(0);
}
#Header_FlexBox1 {
	@include elemWidth(1370);
}
#Header_FlexBox1 {
	@include elemHeight(65);
}
#Header_FlexBox1 {
		z-index: 0;
}
#Header_FlexBox1 {
		background-color: rgba(105, 105, 105, 1);
}
#Header_CurrentScreenHeader {
	@include elemTop(10);
}
#Header_CurrentScreenHeader {
	@include elemLeft(295);
}
#Header_CurrentScreenHeader {
	@include elemWidth(705);
}
#Header_CurrentScreenHeader {
	@include elemHeight(45);
}
#Header_CurrentScreenHeader {
		z-index: 8;
}
#Header_CurrentScreenHeader {
	& span{
		color: rgba(255, 131, 0, 1);
	}
}
#Header_CurrentScreenHeader {
	@include text-alignment-all('center');
}
#Header_CurrentScreenHeader {
	span{
		font-family: Arial;
	}
}
#Header_CurrentScreenHeader {
		font-size: 48px;
}
#Header_CurrentScreenHeader {
	@include font-weight-bold(true);
}
#Header_CurrentScreenHeader {
	@include font-style-italic(true);
}
#Header_CurrentScreenHeader {
	span{
	@include text-decoration-underline(false);
	}
}
