#Navigation_NavigationBar1 {
  top: 35px;
  position: absolute;
}

#Navigation_NavigationBar1 {
  left: 0px;
  position: absolute;
}

#Navigation_NavigationBar1 {
  width: 125px;
}

#Navigation_NavigationBar1 {
  height: 570px;
}

#Navigation_NavigationBar1 {
  z-index: 0;
}

#Navigation_NavigationButton1 {
  top: 0px;
  position: absolute;
}

#Navigation_NavigationButton1 {
  left: 0px;
  position: absolute;
}

#Navigation_NavigationButton1 {
  width: 125px;
}

#Navigation_NavigationButton1 {
  height: 60px;
}

#Navigation_NavigationButton1 {
  z-index: 0;
}

#Navigation_NavigationButton1:not(.active):not(.checked) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton1.disabled {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton1 {
  border-radius: 0px;
}

#Navigation_NavigationButton1:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%);
}

#Navigation_NavigationButton1:not(.disabled):not(.checked) {
  border-color: #e5e5e5;
}

#Navigation_NavigationButton1:not(.disabled):not(.active):not(.checked) span {
  color: white;
}

#Navigation_NavigationButton1.active:not(.disabled):not(.editMode) {
  border-color: #ff8300;
}

#Navigation_NavigationButton1.active:not(.disabled):not(.editMode) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton1.checked:not(.disabled) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton1.active:not(.disabled):not(.editMode) span {
  color: white;
}

#Navigation_NavigationButton1.checked:not(.disabled) span {
  color: white;
}

#Navigation_NavigationButton1 span {
  font-size: 16px;
}

#Navigation_NavigationButton1:not(.active):not(.checked) {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton1.disabled.active {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton1.disabled.checked {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton1.active:not(.disabled):not(.editMode) {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton1.checked {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton1.disabled.checked {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton1.checked:not(.active):not(.disabled) {
  background-color: rgba(255, 255, 255, 0);
}

#Navigation_NavigationButton1.checked:not(.disabled):not(.active) span {
  color: white;
}

#Navigation_NavigationButton1.checked:not(.active):not(.disabled) {
  border-color: #ff8300;
}

#Navigation_NavigationButton1.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%);
}

#Navigation_NavigationButton2 {
  top: 59px;
  position: absolute;
}

#Navigation_NavigationButton2 {
  left: 0px;
  position: absolute;
}

#Navigation_NavigationButton2 {
  width: 125px;
}

#Navigation_NavigationButton2 {
  height: 60px;
}

#Navigation_NavigationButton2 {
  z-index: 1;
}

#Navigation_NavigationButton2:not(.active):not(.checked) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton2.disabled {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton2 {
  border-radius: 0px;
}

#Navigation_NavigationButton2:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%);
}

#Navigation_NavigationButton2:not(.disabled):not(.checked) {
  border-color: #e5e5e5;
}

#Navigation_NavigationButton2:not(.disabled):not(.active):not(.checked) span {
  color: white;
}

#Navigation_NavigationButton2.active:not(.disabled):not(.editMode) {
  border-color: #ff8300;
}

#Navigation_NavigationButton2.active:not(.disabled):not(.editMode) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton2.checked:not(.disabled) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton2.active:not(.disabled):not(.editMode) span {
  color: white;
}

#Navigation_NavigationButton2.checked:not(.disabled) span {
  color: white;
}

#Navigation_NavigationButton2 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

#Navigation_NavigationButton2 span {
  font-size: 16px;
}

#Navigation_NavigationButton2:not(.active):not(.checked) {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton2.disabled.active {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton2.disabled.checked {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton2.active:not(.disabled):not(.editMode) {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton2.checked {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton2.disabled.checked {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton2.checked:not(.active):not(.disabled) {
  background-color: rgba(255, 255, 255, 0);
}

#Navigation_NavigationButton2.checked:not(.disabled):not(.active) span {
  color: white;
}

#Navigation_NavigationButton2.checked:not(.active):not(.disabled) {
  border-color: #ff8300;
}

#Navigation_NavigationButton2.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%);
}

#Navigation_NavigationButton3 {
  top: 119px;
  position: absolute;
}

#Navigation_NavigationButton3 {
  left: 0px;
  position: absolute;
}

#Navigation_NavigationButton3 {
  width: 125px;
}

#Navigation_NavigationButton3 {
  height: 60px;
}

#Navigation_NavigationButton3 {
  z-index: 2;
}

#Navigation_NavigationButton3:not(.active):not(.checked) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton3.disabled {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton3 {
  border-radius: 0px;
}

#Navigation_NavigationButton3:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%);
}

#Navigation_NavigationButton3:not(.disabled):not(.checked) {
  border-color: #e5e5e5;
}

#Navigation_NavigationButton3:not(.disabled):not(.active):not(.checked) span {
  color: white;
}

#Navigation_NavigationButton3.active:not(.disabled):not(.editMode) {
  border-color: #ff8300;
}

#Navigation_NavigationButton3.active:not(.disabled):not(.editMode) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton3.checked:not(.disabled) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton3.active:not(.disabled):not(.editMode) span {
  color: white;
}

#Navigation_NavigationButton3.checked:not(.disabled) span {
  color: white;
}

#Navigation_NavigationButton3 span {
  font-size: 16px;
}

#Navigation_NavigationButton3:not(.active):not(.checked) {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton3.disabled.active {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton3.disabled.checked {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton3.active:not(.disabled):not(.editMode) {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton3.checked {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton3.disabled.checked {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton3.checked:not(.active):not(.disabled) {
  background-color: rgba(255, 255, 255, 0);
}

#Navigation_NavigationButton3.checked:not(.disabled):not(.active) span {
  color: white;
}

#Navigation_NavigationButton3.checked:not(.active):not(.disabled) {
  border-color: #ff8300;
}

#Navigation_NavigationButton3.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%);
}

#Navigation_NavigationButton4 {
  top: 504px;
  position: absolute;
}

#Navigation_NavigationButton4 {
  left: 0px;
  position: absolute;
}

#Navigation_NavigationButton4 {
  width: 125px;
}

#Navigation_NavigationButton4 {
  height: 60px;
}

#Navigation_NavigationButton4 {
  z-index: 3;
}

#Navigation_NavigationButton4:not(.active):not(.checked) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton4.disabled {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton4 {
  border-radius: 0px;
}

#Navigation_NavigationButton4:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%);
}

#Navigation_NavigationButton4:not(.disabled):not(.checked) {
  border-color: #e5e5e5;
}

#Navigation_NavigationButton4:not(.disabled):not(.active):not(.checked) span {
  color: white;
}

#Navigation_NavigationButton4.active:not(.disabled):not(.editMode) {
  border-color: #ff8300;
}

#Navigation_NavigationButton4.active:not(.disabled):not(.editMode) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton4.checked:not(.disabled) {
  border-width: 0px 5px 0px 0px;
}

#Navigation_NavigationButton4.active:not(.disabled):not(.editMode) span {
  color: white;
}

#Navigation_NavigationButton4.checked:not(.disabled) span {
  color: white;
}

#Navigation_NavigationButton4 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

#Navigation_NavigationButton4 span {
  font-size: 16px;
}

#Navigation_NavigationButton4:not(.active):not(.checked) {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton4.disabled.active {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton4.disabled.checked {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#Navigation_NavigationButton4.active:not(.disabled):not(.editMode) {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton4.checked {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton4.disabled.checked {
  box-shadow: 0px 0px rgba(255, 113, 0, 0.75);
}

#Navigation_NavigationButton4.checked:not(.active):not(.disabled) {
  background-color: rgba(255, 255, 255, 0);
}

#Navigation_NavigationButton4.checked:not(.disabled):not(.active) span {
  color: white;
}

#Navigation_NavigationButton4.checked:not(.active):not(.disabled) {
  border-color: #ff8300;
}

#Navigation_NavigationButton4.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%);
}

#Navigation_Label1 {
  top: 0px;
  position: absolute;
}

#Navigation_Label1 {
  left: 0px;
  position: absolute;
}

#Navigation_Label1 {
  width: 125px;
}

#Navigation_Label1 {
  height: 35px;
}

#Navigation_Label1 {
  z-index: 1;
}

#Navigation_Label1 {
  border-width: 0px 5px 0px 0px;
}

#Navigation_Label1 {
  background-color: dimgray;
}

#Navigation_Label1 {
  border-color: #e5e5e5;
}

#Navigation_Label1:before {
  border-color: #e5e5e5;
}

#Navigation_Label1:after {
  border-color: #e5e5e5;
}

#Navigation_Label1 {
  border-style: solid;
}

#Navigation_Label1:before {
  border-style: solid;
}

#Navigation_Label1:after {
  border-style: solid;
}

#Navigation_Label1 span {
  color: white;
}

#Navigation_Label1 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Navigation_Label1 {
  font-size: 20px;
}
