﻿@import "mixins.scss";
#Navigation_NavigationBar1 {
	@include elemTop(35);
}
#Navigation_NavigationBar1 {
	@include elemLeft(0);
}
#Navigation_NavigationBar1 {
	@include elemWidth(125);
}
#Navigation_NavigationBar1 {
	@include elemHeight(570);
}
#Navigation_NavigationBar1 {
		z-index: 0;
}
#Navigation_NavigationButton1 {
	@include elemTop(0);
}
#Navigation_NavigationButton1 {
	@include elemLeft(0);
}
#Navigation_NavigationButton1 {
	@include elemWidth(125);
}
#Navigation_NavigationButton1 {
	@include elemHeight(60);
}
#Navigation_NavigationButton1 {
		z-index: 0;
}
#Navigation_NavigationButton1 {
	&:not(.active):not(.checked){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton1 {
	&.disabled{
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton1 {
	@include border-radius(0px);
}
#Navigation_NavigationButton1 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%)');
	}
}
#Navigation_NavigationButton1 {
	&:not(.disabled):not(.checked){
		border-color: rgba(229, 229, 229, 1);
	}
}
#Navigation_NavigationButton1 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton1 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 131, 0, 1);
	}
}
#Navigation_NavigationButton1 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton1 {
	&.checked:not(.disabled){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton1 {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton1 {
	&.checked:not(.disabled) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton1 {
	span{
		font-size: 16px;
	}
}
#Navigation_NavigationButton1 {
	&:not(.active):not(.checked){
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton1 {
	&.disabled.active{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton1 {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton1 {
	&.active:not(.disabled):not(.editMode){
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton1 {
	&.checked{
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton1 {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton1 {
	&.checked:not(.active):not(.disabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#Navigation_NavigationButton1 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton1 {
	&.checked:not(.active):not(.disabled){
		border-color: rgba(255, 131, 0, 1);
	}
}
#Navigation_NavigationButton1 {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%)');
	}
}
#Navigation_NavigationButton2 {
	@include elemTop(59);
}
#Navigation_NavigationButton2 {
	@include elemLeft(0);
}
#Navigation_NavigationButton2 {
	@include elemWidth(125);
}
#Navigation_NavigationButton2 {
	@include elemHeight(60);
}
#Navigation_NavigationButton2 {
		z-index: 1;
}
#Navigation_NavigationButton2 {
	&:not(.active):not(.checked){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton2 {
	&.disabled{
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton2 {
	@include border-radius(0px);
}
#Navigation_NavigationButton2 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%)');
	}
}
#Navigation_NavigationButton2 {
	&:not(.disabled):not(.checked){
		border-color: rgba(229, 229, 229, 1);
	}
}
#Navigation_NavigationButton2 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton2 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 131, 0, 1);
	}
}
#Navigation_NavigationButton2 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton2 {
	&.checked:not(.disabled){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton2 {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton2 {
	&.checked:not(.disabled) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton2 {
	@include text-alignment(center);
}
#Navigation_NavigationButton2 {
	span{
		font-size: 16px;
	}
}
#Navigation_NavigationButton2 {
	&:not(.active):not(.checked){
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton2 {
	&.disabled.active{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton2 {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton2 {
	&.active:not(.disabled):not(.editMode){
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton2 {
	&.checked{
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton2 {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton2 {
	&.checked:not(.active):not(.disabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#Navigation_NavigationButton2 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton2 {
	&.checked:not(.active):not(.disabled){
		border-color: rgba(255, 131, 0, 1);
	}
}
#Navigation_NavigationButton2 {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%)');
	}
}
#Navigation_NavigationButton3 {
	@include elemTop(119);
}
#Navigation_NavigationButton3 {
	@include elemLeft(0);
}
#Navigation_NavigationButton3 {
	@include elemWidth(125);
}
#Navigation_NavigationButton3 {
	@include elemHeight(60);
}
#Navigation_NavigationButton3 {
		z-index: 2;
}
#Navigation_NavigationButton3 {
	&:not(.active):not(.checked){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton3 {
	&.disabled{
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton3 {
	@include border-radius(0px);
}
#Navigation_NavigationButton3 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%)');
	}
}
#Navigation_NavigationButton3 {
	&:not(.disabled):not(.checked){
		border-color: rgba(229, 229, 229, 1);
	}
}
#Navigation_NavigationButton3 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton3 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 131, 0, 1);
	}
}
#Navigation_NavigationButton3 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton3 {
	&.checked:not(.disabled){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton3 {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton3 {
	&.checked:not(.disabled) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton3 {
	span{
		font-size: 16px;
	}
}
#Navigation_NavigationButton3 {
	&:not(.active):not(.checked){
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton3 {
	&.disabled.active{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton3 {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton3 {
	&.active:not(.disabled):not(.editMode){
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton3 {
	&.checked{
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton3 {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton3 {
	&.checked:not(.active):not(.disabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#Navigation_NavigationButton3 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton3 {
	&.checked:not(.active):not(.disabled){
		border-color: rgba(255, 131, 0, 1);
	}
}
#Navigation_NavigationButton3 {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%)');
	}
}
#Navigation_NavigationButton4 {
	@include elemTop(504);
}
#Navigation_NavigationButton4 {
	@include elemLeft(0);
}
#Navigation_NavigationButton4 {
	@include elemWidth(125);
}
#Navigation_NavigationButton4 {
	@include elemHeight(60);
}
#Navigation_NavigationButton4 {
		z-index: 3;
}
#Navigation_NavigationButton4 {
	&:not(.active):not(.checked){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton4 {
	&.disabled{
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton4 {
	@include border-radius(0px);
}
#Navigation_NavigationButton4 {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%)');
	}
}
#Navigation_NavigationButton4 {
	&:not(.disabled):not(.checked){
		border-color: rgba(229, 229, 229, 1);
	}
}
#Navigation_NavigationButton4 {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton4 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 131, 0, 1);
	}
}
#Navigation_NavigationButton4 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton4 {
	&.checked:not(.disabled){
		border-width: 0px 5px 0px 0px;
	}
}
#Navigation_NavigationButton4 {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton4 {
	&.checked:not(.disabled) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton4 {
	@include text-alignment(center);
}
#Navigation_NavigationButton4 {
	span{
		font-size: 16px;
	}
}
#Navigation_NavigationButton4 {
	&:not(.active):not(.checked){
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton4 {
	&.disabled.active{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton4 {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#Navigation_NavigationButton4 {
	&.active:not(.disabled):not(.editMode){
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton4 {
	&.checked{
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton4 {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(255, 113, 0, 0.75));
	}
}
#Navigation_NavigationButton4 {
	&.checked:not(.active):not(.disabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#Navigation_NavigationButton4 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_NavigationButton4 {
	&.checked:not(.active):not(.disabled){
		border-color: rgba(255, 131, 0, 1);
	}
}
#Navigation_NavigationButton4 {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom, #6A6A6A 0%,#7C7C7C 100%)');
	}
}
#Navigation_Label1 {
	@include elemTop(0);
}
#Navigation_Label1 {
	@include elemLeft(0);
}
#Navigation_Label1 {
	@include elemWidth(125);
}
#Navigation_Label1 {
	@include elemHeight(35);
}
#Navigation_Label1 {
		z-index: 1;
}
#Navigation_Label1 {
		border-width: 0px 5px 0px 0px;
}
#Navigation_Label1 {
		background-color: rgba(105, 105, 105, 1);
}
#Navigation_Label1 {
		border-color: rgba(229, 229, 229, 1);
}
#Navigation_Label1 {
	&:before{
		border-color: rgba(229, 229, 229, 1);
	}
}
#Navigation_Label1 {
	&:after{
		border-color: rgba(229, 229, 229, 1);
	}
}
#Navigation_Label1 {
		border-style: solid;
}
#Navigation_Label1 {
	&:before{
		border-style: solid;
	}
}
#Navigation_Label1 {
	&:after{
		border-style: solid;
	}
}
#Navigation_Label1 {
	& span{
		color: rgba(255, 255, 255, 1);
	}
}
#Navigation_Label1 {
	@include text-alignment-all('center');
}
#Navigation_Label1 {
		font-size: 20px;
}
