﻿@import "mixins.scss";
#Status_GroupBox1 {
	@include elemTop(0);
}
#Status_GroupBox1 {
	@include elemLeft(0);
}
#Status_GroupBox1 {
	@include elemWidth(1366);
}
#Status_GroupBox1 {
	@include elemHeight(105);
}
#Status_GroupBox1 {
		z-index: 0;
}
#Status_GroupBox1 {
		background-color: rgba(105, 105, 105, 1);
}
#Status_GroupBox1 {
	> .header{
		background-color: rgba(105, 105, 105, 1);
	}
}
#Status_GroupBox1 {
	> .header{
	@include backGroundGradient('');
	}
}
#Status_GroupBox1 {
	> .header span{
		color: rgba(255, 153, 0, 1);
	}
}
#Status_GroupBox1 {
	> .header span{
		font-size: 14px;
	}
}
#Status_GroupBox1 {
	> .header{
	height: 14px + 20px;
	}
}
#Status_GroupBox1 {
		margin: 0px 0px 0px 0px;
}
#Status_indicator {
	@include elemTop(11);
}
#Status_indicator {
	@include elemLeft(25);
}
#Status_indicator {
	@include elemWidth(20);
}
#Status_indicator {
	@include elemHeight(20);
}
#Status_indicator {
		z-index: 0;
}
#Status_indicator {
		background-color: rgba(0, 255, 0, 1);
}
#Status_Label1 {
	@include elemTop(11);
}
#Status_Label1 {
	@include elemLeft(45);
}
#Status_Label1 {
	@include elemWidth(118);
}
#Status_Label1 {
	@include elemHeight(18);
}
#Status_Label1 {
		z-index: 1;
}
#Status_Label1 {
		font-size: 14px;
}
#Status_indicator1 {
	@include elemTop(36);
}
#Status_indicator1 {
	@include elemLeft(25);
}
#Status_indicator1 {
	@include elemWidth(20);
}
#Status_indicator1 {
	@include elemHeight(20);
}
#Status_indicator1 {
		z-index: 2;
}
#Status_indicator1 {
		background-color: rgba(0, 255, 0, 1);
}
#Status_Label2 {
	@include elemTop(36);
}
#Status_Label2 {
	@include elemLeft(45);
}
#Status_Label2 {
	@include elemWidth(118);
}
#Status_Label2 {
	@include elemHeight(18);
}
#Status_Label2 {
		z-index: 3;
}
#Status_Label2 {
		font-size: 14px;
}
#Status_indicator2 {
	@include elemTop(11);
}
#Status_indicator2 {
	@include elemLeft(190);
}
#Status_indicator2 {
	@include elemWidth(20);
}
#Status_indicator2 {
	@include elemHeight(20);
}
#Status_indicator2 {
		z-index: 4;
}
#Status_indicator2 {
		background-color: rgba(0, 255, 0, 1);
}
#Status_Label3 {
	@include elemTop(11);
}
#Status_Label3 {
	@include elemLeft(210);
}
#Status_Label3 {
	@include elemWidth(118);
}
#Status_Label3 {
	@include elemHeight(18);
}
#Status_Label3 {
		z-index: 5;
}
#Status_Label3 {
		font-size: 14px;
}
#Status_indicator3 {
	@include elemTop(36);
}
#Status_indicator3 {
	@include elemLeft(190);
}
#Status_indicator3 {
	@include elemWidth(20);
}
#Status_indicator3 {
	@include elemHeight(20);
}
#Status_indicator3 {
		z-index: 6;
}
#Status_indicator3 {
		background-color: rgba(0, 255, 0, 1);
}
#Status_Label4 {
	@include elemTop(36);
}
#Status_Label4 {
	@include elemLeft(210);
}
#Status_Label4 {
	@include elemWidth(118);
}
#Status_Label4 {
	@include elemHeight(18);
}
#Status_Label4 {
		z-index: 7;
}
#Status_Label4 {
		font-size: 14px;
}
#Status_indicator4 {
	@include elemTop(11);
}
#Status_indicator4 {
	@include elemLeft(355);
}
#Status_indicator4 {
	@include elemWidth(20);
}
#Status_indicator4 {
	@include elemHeight(20);
}
#Status_indicator4 {
		z-index: 8;
}
#Status_indicator4 {
		background-color: rgba(0, 255, 0, 1);
}
#Status_Label5 {
	@include elemTop(11);
}
#Status_Label5 {
	@include elemLeft(375);
}
#Status_Label5 {
	@include elemWidth(118);
}
#Status_Label5 {
	@include elemHeight(18);
}
#Status_Label5 {
		z-index: 9;
}
#Status_Label5 {
		font-size: 14px;
}
#Status_indicator5 {
	@include elemTop(36);
}
#Status_indicator5 {
	@include elemLeft(355);
}
#Status_indicator5 {
	@include elemWidth(20);
}
#Status_indicator5 {
	@include elemHeight(20);
}
#Status_indicator5 {
		z-index: 10;
}
#Status_indicator5 {
		background-color: rgba(0, 255, 0, 1);
}
#Status_Label6 {
	@include elemTop(36);
}
#Status_Label6 {
	@include elemLeft(375);
}
#Status_Label6 {
	@include elemWidth(118);
}
#Status_Label6 {
	@include elemHeight(18);
}
#Status_Label6 {
		z-index: 11;
}
#Status_Label6 {
		font-size: 14px;
}
