#Status_GroupBox1 {
  top: 0px;
  position: absolute;
}

#Status_GroupBox1 {
  left: 0px;
  position: absolute;
}

#Status_GroupBox1 {
  width: 1366px;
}

#Status_GroupBox1 {
  height: 105px;
}

#Status_GroupBox1 {
  z-index: 0;
}

#Status_GroupBox1 {
  background-color: dimgray;
}

#Status_GroupBox1 > .header {
  background-color: dimgray;
}

#Status_GroupBox1 > .header span {
  color: #ff9900;
}

#Status_GroupBox1 > .header span {
  font-size: 14px;
}

#Status_GroupBox1 > .header {
  height: 34px;
}

#Status_GroupBox1 {
  margin: 0px 0px 0px 0px;
}

#Status_indicator {
  top: 11px;
  position: absolute;
}

#Status_indicator {
  left: 25px;
  position: absolute;
}

#Status_indicator {
  width: 20px;
}

#Status_indicator {
  height: 20px;
}

#Status_indicator {
  z-index: 0;
}

#Status_indicator {
  background-color: lime;
}

#Status_Label1 {
  top: 11px;
  position: absolute;
}

#Status_Label1 {
  left: 45px;
  position: absolute;
}

#Status_Label1 {
  width: 118px;
}

#Status_Label1 {
  height: 18px;
}

#Status_Label1 {
  z-index: 1;
}

#Status_Label1 {
  font-size: 14px;
}

#Status_indicator1 {
  top: 36px;
  position: absolute;
}

#Status_indicator1 {
  left: 25px;
  position: absolute;
}

#Status_indicator1 {
  width: 20px;
}

#Status_indicator1 {
  height: 20px;
}

#Status_indicator1 {
  z-index: 2;
}

#Status_indicator1 {
  background-color: lime;
}

#Status_Label2 {
  top: 36px;
  position: absolute;
}

#Status_Label2 {
  left: 45px;
  position: absolute;
}

#Status_Label2 {
  width: 118px;
}

#Status_Label2 {
  height: 18px;
}

#Status_Label2 {
  z-index: 3;
}

#Status_Label2 {
  font-size: 14px;
}

#Status_indicator2 {
  top: 11px;
  position: absolute;
}

#Status_indicator2 {
  left: 190px;
  position: absolute;
}

#Status_indicator2 {
  width: 20px;
}

#Status_indicator2 {
  height: 20px;
}

#Status_indicator2 {
  z-index: 4;
}

#Status_indicator2 {
  background-color: lime;
}

#Status_Label3 {
  top: 11px;
  position: absolute;
}

#Status_Label3 {
  left: 210px;
  position: absolute;
}

#Status_Label3 {
  width: 118px;
}

#Status_Label3 {
  height: 18px;
}

#Status_Label3 {
  z-index: 5;
}

#Status_Label3 {
  font-size: 14px;
}

#Status_indicator3 {
  top: 36px;
  position: absolute;
}

#Status_indicator3 {
  left: 190px;
  position: absolute;
}

#Status_indicator3 {
  width: 20px;
}

#Status_indicator3 {
  height: 20px;
}

#Status_indicator3 {
  z-index: 6;
}

#Status_indicator3 {
  background-color: lime;
}

#Status_Label4 {
  top: 36px;
  position: absolute;
}

#Status_Label4 {
  left: 210px;
  position: absolute;
}

#Status_Label4 {
  width: 118px;
}

#Status_Label4 {
  height: 18px;
}

#Status_Label4 {
  z-index: 7;
}

#Status_Label4 {
  font-size: 14px;
}

#Status_indicator4 {
  top: 11px;
  position: absolute;
}

#Status_indicator4 {
  left: 355px;
  position: absolute;
}

#Status_indicator4 {
  width: 20px;
}

#Status_indicator4 {
  height: 20px;
}

#Status_indicator4 {
  z-index: 8;
}

#Status_indicator4 {
  background-color: lime;
}

#Status_Label5 {
  top: 11px;
  position: absolute;
}

#Status_Label5 {
  left: 375px;
  position: absolute;
}

#Status_Label5 {
  width: 118px;
}

#Status_Label5 {
  height: 18px;
}

#Status_Label5 {
  z-index: 9;
}

#Status_Label5 {
  font-size: 14px;
}

#Status_indicator5 {
  top: 36px;
  position: absolute;
}

#Status_indicator5 {
  left: 355px;
  position: absolute;
}

#Status_indicator5 {
  width: 20px;
}

#Status_indicator5 {
  height: 20px;
}

#Status_indicator5 {
  z-index: 10;
}

#Status_indicator5 {
  background-color: lime;
}

#Status_Label6 {
  top: 36px;
  position: absolute;
}

#Status_Label6 {
  left: 375px;
  position: absolute;
}

#Status_Label6 {
  width: 118px;
}

#Status_Label6 {
  height: 18px;
}

#Status_Label6 {
  z-index: 11;
}

#Status_Label6 {
  font-size: 14px;
}
