﻿@import "mixins.scss";
#MaintContent_Robot {
	@include elemTop(0);
}
#MaintContent_Robot {
	@include elemLeft(0);
}
#MaintContent_Robot {
	@include elemWidth(1240);
}
#MaintContent_Robot {
	@include elemHeight(600);
}
#MaintContent_Robot {
		z-index: 0;
}
#MaintContent_Robot {
	> .container{
		border-style: solid;
	}
}
#MaintContent_Robot {
	> .container{
		border-width: 5px;
	}
}
#MaintContent_Robot {
	> .container{
		border-color: rgba(255, 133, 0, 1);
	}
}
#MaintContent_Table_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#MaintContent_Table_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#MaintContent_Table {
		z-index: 0;
}
#MaintContent_Table_breaseTabItemTab {
	&.tabItem:not(.active){
		border-width: 0px 1px 1px 0px;
	}
}
#MaintContent_GroupBox1 {
	@include elemTop(35);
}
#MaintContent_GroupBox1 {
	@include elemLeft(20);
}
#MaintContent_GroupBox1 {
	@include elemWidth(360);
}
#MaintContent_GroupBox1 {
	@include elemHeight(335);
}
#MaintContent_GroupBox1 {
		z-index: 0;
}
#MaintContent_GroupBox1 {
	> .header{
		background-color: rgba(105, 105, 105, 1);
	}
}
#MaintContent_GroupBox1 {
	> .header{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#696969 75%)');
	}
}
#MaintContent_GroupBox1 {
	> .header span{
		color: rgba(255, 255, 255, 1);
	}
}
#MaintContent_Button1 {
	@include elemWidth(100);
}
#MaintContent_Button1 {
	@include elemTop(13);
}
#MaintContent_Button1 {
	@include elemLeft(64);
}
#MaintContent_Button1 {
	@include elemHeight(40);
}
#MaintContent_Button1 {
		z-index: 0;
}
#MaintContent_Button1 {
	@include border-radius(5px);
}
#MaintContent_Button2 {
	@include elemWidth(100);
}
#MaintContent_Button2 {
	@include elemTop(58);
}
#MaintContent_Button2 {
	@include elemLeft(64);
}
#MaintContent_Button2 {
	@include elemHeight(40);
}
#MaintContent_Button2 {
		z-index: 1;
}
#MaintContent_Button2 {
	@include border-radius(5px);
}
#MaintContent_Button3 {
	@include elemWidth(100);
}
#MaintContent_Button3 {
	@include elemTop(103);
}
#MaintContent_Button3 {
	@include elemLeft(64);
}
#MaintContent_Button3 {
	@include elemHeight(40);
}
#MaintContent_Button3 {
		z-index: 2;
}
#MaintContent_Button3 {
	@include border-radius(5px);
}
#MaintContent_Button4 {
	@include elemWidth(100);
}
#MaintContent_Button4 {
	@include elemTop(148);
}
#MaintContent_Button4 {
	@include elemLeft(64);
}
#MaintContent_Button4 {
	@include elemHeight(40);
}
#MaintContent_Button4 {
		z-index: 3;
}
#MaintContent_Button4 {
	@include border-radius(5px);
}
#MaintContent_Button5 {
	@include elemWidth(100);
}
#MaintContent_Button5 {
	@include elemTop(193);
}
#MaintContent_Button5 {
	@include elemLeft(64);
}
#MaintContent_Button5 {
	@include elemHeight(40);
}
#MaintContent_Button5 {
		z-index: 4;
}
#MaintContent_Button5 {
	@include border-radius(5px);
}
#MaintContent_Button6 {
	@include elemWidth(100);
}
#MaintContent_Button6 {
	@include elemTop(238);
}
#MaintContent_Button6 {
	@include elemLeft(64);
}
#MaintContent_Button6 {
	@include elemHeight(40);
}
#MaintContent_Button6 {
		z-index: 5;
}
#MaintContent_Button6 {
	@include border-radius(5px);
}
#MaintContent_Button7 {
	@include elemWidth(100);
}
#MaintContent_Button7 {
	@include elemTop(13);
}
#MaintContent_Button7 {
	@include elemLeft(189);
}
#MaintContent_Button7 {
	@include elemHeight(40);
}
#MaintContent_Button7 {
		z-index: 6;
}
#MaintContent_Button7 {
	@include border-radius(5px);
}
#MaintContent_Button8 {
	@include elemWidth(100);
}
#MaintContent_Button8 {
	@include elemTop(58);
}
#MaintContent_Button8 {
	@include elemLeft(189);
}
#MaintContent_Button8 {
	@include elemHeight(40);
}
#MaintContent_Button8 {
		z-index: 7;
}
#MaintContent_Button8 {
	@include border-radius(5px);
}
#MaintContent_Button9 {
	@include elemWidth(100);
}
#MaintContent_Button9 {
	@include elemTop(103);
}
#MaintContent_Button9 {
	@include elemLeft(189);
}
#MaintContent_Button9 {
	@include elemHeight(40);
}
#MaintContent_Button9 {
		z-index: 8;
}
#MaintContent_Button9 {
	@include border-radius(5px);
}
#MaintContent_Button10 {
	@include elemWidth(100);
}
#MaintContent_Button10 {
	@include elemTop(148);
}
#MaintContent_Button10 {
	@include elemLeft(189);
}
#MaintContent_Button10 {
	@include elemHeight(40);
}
#MaintContent_Button10 {
		z-index: 9;
}
#MaintContent_Button10 {
	@include border-radius(5px);
}
#MaintContent_Button11 {
	@include elemWidth(100);
}
#MaintContent_Button11 {
	@include elemTop(193);
}
#MaintContent_Button11 {
	@include elemLeft(189);
}
#MaintContent_Button11 {
	@include elemHeight(40);
}
#MaintContent_Button11 {
		z-index: 10;
}
#MaintContent_Button11 {
	@include border-radius(5px);
}
#MaintContent_Button12 {
	@include elemWidth(100);
}
#MaintContent_Button12 {
	@include elemTop(238);
}
#MaintContent_Button12 {
	@include elemLeft(189);
}
#MaintContent_Button12 {
	@include elemHeight(40);
}
#MaintContent_Button12 {
		z-index: 11;
}
#MaintContent_Button12 {
	@include border-radius(5px);
}
#MaintContent_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#MaintContent_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#MaintContent_TabItem1 {
		z-index: 1;
}
#MaintContent_Tools_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#MaintContent_Tools_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#MaintContent_Tools {
		z-index: 2;
}
#MaintContent_BarChart1 {
	@include elemTop(50);
}
#MaintContent_BarChart1 {
	@include elemLeft(65);
}
#MaintContent_BarChart1 {
	@include elemWidth(650);
}
#MaintContent_BarChart1 {
	@include elemHeight(470);
}
#MaintContent_BarChart1 {
		z-index: 0;
}
