#MaintContent_Robot {
  top: 0px;
  position: absolute;
}

#MaintContent_Robot {
  left: 0px;
  position: absolute;
}

#MaintContent_Robot {
  width: 1240px;
}

#MaintContent_Robot {
  height: 600px;
}

#MaintContent_Robot {
  z-index: 0;
}

#MaintContent_Robot > .container {
  border-style: solid;
}

#MaintContent_Robot > .container {
  border-width: 5px;
}

#MaintContent_Robot > .container {
  border-color: #ff8500;
}

#MaintContent_Table_breaseTabItemTab.tabItem {
  height: 30px;
}

#MaintContent_Table_breaseTabItemTab.tabItem {
  width: 150px;
}

#MaintContent_Table {
  z-index: 0;
}

#MaintContent_Table_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 1px 1px 0px;
}

#MaintContent_GroupBox1 {
  top: 35px;
  position: absolute;
}

#MaintContent_GroupBox1 {
  left: 20px;
  position: absolute;
}

#MaintContent_GroupBox1 {
  width: 360px;
}

#MaintContent_GroupBox1 {
  height: 335px;
}

#MaintContent_GroupBox1 {
  z-index: 0;
}

#MaintContent_GroupBox1 > .header {
  background-color: dimgray;
}

#MaintContent_GroupBox1 > .header {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#696969 75%);
}

#MaintContent_GroupBox1 > .header span {
  color: white;
}

#MaintContent_Button1 {
  width: 100px;
}

#MaintContent_Button1 {
  top: 13px;
  position: absolute;
}

#MaintContent_Button1 {
  left: 64px;
  position: absolute;
}

#MaintContent_Button1 {
  height: 40px;
}

#MaintContent_Button1 {
  z-index: 0;
}

#MaintContent_Button1 {
  border-radius: 5px;
}

#MaintContent_Button2 {
  width: 100px;
}

#MaintContent_Button2 {
  top: 58px;
  position: absolute;
}

#MaintContent_Button2 {
  left: 64px;
  position: absolute;
}

#MaintContent_Button2 {
  height: 40px;
}

#MaintContent_Button2 {
  z-index: 1;
}

#MaintContent_Button2 {
  border-radius: 5px;
}

#MaintContent_Button3 {
  width: 100px;
}

#MaintContent_Button3 {
  top: 103px;
  position: absolute;
}

#MaintContent_Button3 {
  left: 64px;
  position: absolute;
}

#MaintContent_Button3 {
  height: 40px;
}

#MaintContent_Button3 {
  z-index: 2;
}

#MaintContent_Button3 {
  border-radius: 5px;
}

#MaintContent_Button4 {
  width: 100px;
}

#MaintContent_Button4 {
  top: 148px;
  position: absolute;
}

#MaintContent_Button4 {
  left: 64px;
  position: absolute;
}

#MaintContent_Button4 {
  height: 40px;
}

#MaintContent_Button4 {
  z-index: 3;
}

#MaintContent_Button4 {
  border-radius: 5px;
}

#MaintContent_Button5 {
  width: 100px;
}

#MaintContent_Button5 {
  top: 193px;
  position: absolute;
}

#MaintContent_Button5 {
  left: 64px;
  position: absolute;
}

#MaintContent_Button5 {
  height: 40px;
}

#MaintContent_Button5 {
  z-index: 4;
}

#MaintContent_Button5 {
  border-radius: 5px;
}

#MaintContent_Button6 {
  width: 100px;
}

#MaintContent_Button6 {
  top: 238px;
  position: absolute;
}

#MaintContent_Button6 {
  left: 64px;
  position: absolute;
}

#MaintContent_Button6 {
  height: 40px;
}

#MaintContent_Button6 {
  z-index: 5;
}

#MaintContent_Button6 {
  border-radius: 5px;
}

#MaintContent_Button7 {
  width: 100px;
}

#MaintContent_Button7 {
  top: 13px;
  position: absolute;
}

#MaintContent_Button7 {
  left: 189px;
  position: absolute;
}

#MaintContent_Button7 {
  height: 40px;
}

#MaintContent_Button7 {
  z-index: 6;
}

#MaintContent_Button7 {
  border-radius: 5px;
}

#MaintContent_Button8 {
  width: 100px;
}

#MaintContent_Button8 {
  top: 58px;
  position: absolute;
}

#MaintContent_Button8 {
  left: 189px;
  position: absolute;
}

#MaintContent_Button8 {
  height: 40px;
}

#MaintContent_Button8 {
  z-index: 7;
}

#MaintContent_Button8 {
  border-radius: 5px;
}

#MaintContent_Button9 {
  width: 100px;
}

#MaintContent_Button9 {
  top: 103px;
  position: absolute;
}

#MaintContent_Button9 {
  left: 189px;
  position: absolute;
}

#MaintContent_Button9 {
  height: 40px;
}

#MaintContent_Button9 {
  z-index: 8;
}

#MaintContent_Button9 {
  border-radius: 5px;
}

#MaintContent_Button10 {
  width: 100px;
}

#MaintContent_Button10 {
  top: 148px;
  position: absolute;
}

#MaintContent_Button10 {
  left: 189px;
  position: absolute;
}

#MaintContent_Button10 {
  height: 40px;
}

#MaintContent_Button10 {
  z-index: 9;
}

#MaintContent_Button10 {
  border-radius: 5px;
}

#MaintContent_Button11 {
  width: 100px;
}

#MaintContent_Button11 {
  top: 193px;
  position: absolute;
}

#MaintContent_Button11 {
  left: 189px;
  position: absolute;
}

#MaintContent_Button11 {
  height: 40px;
}

#MaintContent_Button11 {
  z-index: 10;
}

#MaintContent_Button11 {
  border-radius: 5px;
}

#MaintContent_Button12 {
  width: 100px;
}

#MaintContent_Button12 {
  top: 238px;
  position: absolute;
}

#MaintContent_Button12 {
  left: 189px;
  position: absolute;
}

#MaintContent_Button12 {
  height: 40px;
}

#MaintContent_Button12 {
  z-index: 11;
}

#MaintContent_Button12 {
  border-radius: 5px;
}

#MaintContent_TabItem1_breaseTabItemTab.tabItem {
  height: 30px;
}

#MaintContent_TabItem1_breaseTabItemTab.tabItem {
  width: 150px;
}

#MaintContent_TabItem1 {
  z-index: 1;
}

#MaintContent_Tools_breaseTabItemTab.tabItem {
  height: 30px;
}

#MaintContent_Tools_breaseTabItemTab.tabItem {
  width: 150px;
}

#MaintContent_Tools {
  z-index: 2;
}

#MaintContent_BarChart1 {
  top: 50px;
  position: absolute;
}

#MaintContent_BarChart1 {
  left: 65px;
  position: absolute;
}

#MaintContent_BarChart1 {
  width: 650px;
}

#MaintContent_BarChart1 {
  height: 470px;
}

#MaintContent_BarChart1 {
  z-index: 0;
}
