﻿<script>brease.setOptions("MaintContent_Robot", {"top": 0,"left": 0,"width": 1240,"height": 600,"zIndex": 0,"borderStyle": "solid","borderWidth": "5px","borderColor": "rgba(255, 133, 0, 1)","className":"widgets/brease/TabControl","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Table", {"height": 30,"left": 0,"width": 150,"zIndex": 0,"text": "Table Controls","borderWidth": "0px 1px 1px 0px","className":"widgets/brease/TabItem","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_GroupBox1", {"top": 35,"left": 20,"width": 360,"height": 335,"zIndex": 0,"text": "Table #1 Manual Controls","headerBackColor": "rgba(105, 105, 105, 1)","headerGradient": "linear-gradient(to bottom,#F7F7F7 0%,#696969 75%)","textColor": "rgba(255, 255, 255, 1)","className":"widgets/brease/GroupBox","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button1", {"width": 100,"top": 13,"left": 64,"height": 40,"zIndex": 0,"text": "Button1","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button2", {"width": 100,"top": 58,"left": 64,"height": 40,"zIndex": 1,"text": "Button2","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button3", {"width": 100,"top": 103,"left": 64,"height": 40,"zIndex": 2,"text": "Button3","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button4", {"width": 100,"top": 148,"left": 64,"height": 40,"zIndex": 3,"text": "Button4","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button5", {"width": 100,"top": 193,"left": 64,"height": 40,"zIndex": 4,"text": "Button5","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button6", {"width": 100,"top": 238,"left": 64,"height": 40,"zIndex": 5,"text": "Button6","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button7", {"width": 100,"top": 13,"left": 189,"height": 40,"zIndex": 6,"text": "Button7","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button8", {"width": 100,"top": 58,"left": 189,"height": 40,"zIndex": 7,"text": "Button8","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button9", {"width": 100,"top": 103,"left": 189,"height": 40,"zIndex": 8,"text": "Button9","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button10", {"width": 100,"top": 148,"left": 189,"height": 40,"zIndex": 9,"text": "Button10","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button11", {"width": 100,"top": 193,"left": 189,"height": 40,"zIndex": 10,"text": "Button11","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Button12", {"width": 100,"top": 238,"left": 189,"height": 40,"zIndex": 11,"text": "Button12","cornerRadius": "5px","style": "Command","className":"widgets/brease/Button","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_TabItem1", {"height": 30,"left": 0,"width": 150,"zIndex": 1,"text": "Robot","className":"widgets/brease/TabItem","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_Tools", {"height": 30,"left": 0,"width": 150,"zIndex": 2,"text": "Tools","className":"widgets/brease/TabItem","parentContentId":"MaintContent"});
brease.setOptions("MaintContent_BarChart1", {"top": 50,"left": 65,"width": 650,"height": 470,"zIndex": 0,"className":"widgets/brease/BarChart","parentContentId":"MaintContent"});
</script><div id="MaintContent_Robot" data-brease-widget="widgets/brease/TabControl"><div id="MaintContent_Table" data-brease-widget="widgets/brease/TabItem"><div id="MaintContent_GroupBox1" data-brease-widget="widgets/brease/GroupBox"><div id="MaintContent_Button1" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button2" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button3" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button4" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button5" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button6" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button7" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button8" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button9" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button10" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button11" data-brease-widget="widgets/brease/Button"></div><div id="MaintContent_Button12" data-brease-widget="widgets/brease/Button"></div></div></div><div id="MaintContent_TabItem1" data-brease-widget="widgets/brease/TabItem"></div><div id="MaintContent_Tools" data-brease-widget="widgets/brease/TabItem"><svg id="MaintContent_BarChart1" data-brease-widget="widgets/brease/BarChart"></svg></div></div>