﻿<script>brease.setOptions("Status_GroupBox1", {"top": 0,"left": 0,"width": 1366,"height": 105,"zIndex": 0,"text": "SYSTEM STATUS","backColor": "rgba(105, 105, 105, 1)","headerBackColor": "rgba(105, 105, 105, 1)","textColor": "rgba(255, 153, 0, 1)","fontSize": "14px","margin": "0px 0px 0px 0px","className":"widgets/brease/GroupBox","parentContentId":"Status"});
brease.setOptions("Status_indicator", {"top": 11,"left": 25,"width": 20,"height": 20,"zIndex": 0,"backColor": "rgba(0, 255, 0, 1)","className":"widgets/brease/Ellipse","parentContentId":"Status"});
brease.setOptions("Status_Label1", {"top": 11,"left": 45,"width": 118,"height": 18,"zIndex": 1,"text": "E-STOP 1","fontSize": "14px","style": "Title2","className":"widgets/brease/Label","parentContentId":"Status"});
brease.setOptions("Status_indicator1", {"top": 36,"left": 25,"width": 20,"height": 20,"zIndex": 2,"backColor": "rgba(0, 255, 0, 1)","className":"widgets/brease/Ellipse","parentContentId":"Status"});
brease.setOptions("Status_Label2", {"top": 36,"left": 45,"width": 118,"height": 18,"zIndex": 3,"text": "E-STOP 2","fontSize": "14px","style": "Title2","className":"widgets/brease/Label","parentContentId":"Status"});
brease.setOptions("Status_indicator2", {"top": 11,"left": 190,"width": 20,"height": 20,"zIndex": 4,"backColor": "rgba(0, 255, 0, 1)","className":"widgets/brease/Ellipse","parentContentId":"Status"});
brease.setOptions("Status_Label3", {"top": 11,"left": 210,"width": 118,"height": 18,"zIndex": 5,"text": "Air Pressure","fontSize": "14px","style": "Title2","className":"widgets/brease/Label","parentContentId":"Status"});
brease.setOptions("Status_indicator3", {"top": 36,"left": 190,"width": 20,"height": 20,"zIndex": 6,"backColor": "rgba(0, 255, 0, 1)","className":"widgets/brease/Ellipse","parentContentId":"Status"});
brease.setOptions("Status_Label4", {"top": 36,"left": 210,"width": 118,"height": 18,"zIndex": 7,"text": "Safety Gate 1","fontSize": "14px","style": "Title2","className":"widgets/brease/Label","parentContentId":"Status"});
brease.setOptions("Status_indicator4", {"top": 11,"left": 355,"width": 20,"height": 20,"zIndex": 8,"backColor": "rgba(0, 255, 0, 1)","className":"widgets/brease/Ellipse","parentContentId":"Status"});
brease.setOptions("Status_Label5", {"top": 11,"left": 375,"width": 118,"height": 18,"zIndex": 9,"text": "Robot Ok","fontSize": "14px","style": "Title2","className":"widgets/brease/Label","parentContentId":"Status"});
brease.setOptions("Status_indicator5", {"top": 36,"left": 355,"width": 20,"height": 20,"zIndex": 10,"backColor": "rgba(0, 255, 0, 1)","className":"widgets/brease/Ellipse","parentContentId":"Status"});
brease.setOptions("Status_Label6", {"top": 36,"left": 375,"width": 118,"height": 18,"zIndex": 11,"text": "Safety Gate 1","fontSize": "14px","style": "Title2","className":"widgets/brease/Label","parentContentId":"Status"});
</script><div id="Status_GroupBox1" data-brease-widget="widgets/brease/GroupBox"><div id="Status_indicator" data-brease-widget="widgets/brease/Ellipse"></div><label id="Status_Label1" data-brease-widget="widgets/brease/Label"></label><div id="Status_indicator1" data-brease-widget="widgets/brease/Ellipse"></div><label id="Status_Label2" data-brease-widget="widgets/brease/Label"></label><div id="Status_indicator2" data-brease-widget="widgets/brease/Ellipse"></div><label id="Status_Label3" data-brease-widget="widgets/brease/Label"></label><div id="Status_indicator3" data-brease-widget="widgets/brease/Ellipse"></div><label id="Status_Label4" data-brease-widget="widgets/brease/Label"></label><div id="Status_indicator4" data-brease-widget="widgets/brease/Ellipse"></div><label id="Status_Label5" data-brease-widget="widgets/brease/Label"></label><div id="Status_indicator5" data-brease-widget="widgets/brease/Ellipse"></div><label id="Status_Label6" data-brease-widget="widgets/brease/Label"></label></div>