@import "mixins.scss";
@mixin widgets_brease_DateTimeOutput_base {
	@include elemWidth(200);
	@include elemHeight(30);
	border-width: 2px;
	@include border-radius(0px);
	background-color: #FFFFFF;
	@include backGroundGradient('');
	border-color: transparent;
	border-style: solid;
& span {
	color: #333333;
}
	@include text-alignment(center);
	opacity: 1;
	@include rotate(0deg);
	font-family: Arial;
	font-size: 14px;
	@include font-weight-bold(true);
	@include font-style-italic(false);
	padding: 0 15px 0 15px;
	margin: 0px;
	@include box-shadow(none);

}

