﻿@import "mixins.scss";
#Home_Robot {
	@include elemTop(0);
}
#Home_Robot {
	@include elemLeft(0);
}
#Home_Robot {
	@include elemWidth(1240);
}
#Home_Robot {
	@include elemHeight(600);
}
#Home_Robot {
		z-index: 0;
}
#Home_Robot {
	> .container{
		border-style: solid;
	}
}
#Home_Robot {
	> .container{
		border-width: 5px;
	}
}
#Home_Robot {
	> .container{
		border-color: rgba(255, 133, 0, 1);
	}
}
#Home_Table_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#Home_Table_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#Home_Table {
		z-index: 0;
}
#Home_Table_breaseTabItemTab {
	&.tabItem:not(.active){
		border-width: 0px 1px 1px 0px;
	}
}
#Home_Image1 {
	@include elemTop(10);
}
#Home_Image1 {
	@include elemLeft(10);
}
#Home_Image1 {
	@include elemWidth(1220);
}
#Home_Image1 {
	@include elemHeight(545);
}
#Home_Image1 {
		z-index: 0;
}
#Home_NavigationButton1 {
	@include elemTop(125);
}
#Home_NavigationButton1 {
	@include elemLeft(660);
}
#Home_NavigationButton1 {
	@include elemWidth(129);
}
#Home_NavigationButton1 {
	@include elemHeight(120);
}
#Home_NavigationButton1 {
		z-index: 1;
}
#Home_NavigationButton1 {
	&:not(.active):not(.checked){
		border-width: 0px;
	}
}
#Home_NavigationButton1 {
	&.disabled{
		border-width: 0px;
	}
}
#Home_NavigationButton1 {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#Home_NavigationButton1 {
	@include text-alignment(right);
}
#Home_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#Home_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#Home_TabItem1 {
		z-index: 1;
}
#Home_BarChart1 {
	@include elemTop(45);
}
#Home_BarChart1 {
	@include elemLeft(63);
}
#Home_BarChart1 {
	@include elemWidth(480);
}
#Home_BarChart1 {
	@include elemHeight(470);
}
#Home_BarChart1 {
		z-index: 0;
}
#Home_BarChart2 {
	@include elemTop(45);
}
#Home_BarChart2 {
	@include elemLeft(591);
}
#Home_BarChart2 {
	@include elemWidth(480);
}
#Home_BarChart2 {
	@include elemHeight(470);
}
#Home_BarChart2 {
		z-index: 1;
}
#Home_BarChart3 {
	@include elemTop(45);
}
#Home_BarChart3 {
	@include elemLeft(1123);
}
#Home_BarChart3 {
	@include elemWidth(480);
}
#Home_BarChart3 {
	@include elemHeight(470);
}
#Home_BarChart3 {
		z-index: 2;
}
#Home_Tools_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#Home_Tools_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#Home_Tools {
		z-index: 2;
}
#Home_AlarmList1 {
	@include elemTop(15);
}
#Home_AlarmList1 {
	@include elemLeft(15);
}
#Home_AlarmList1 {
	@include elemWidth(1165);
}
#Home_AlarmList1 {
	@include elemHeight(525);
}
#Home_AlarmList1 {
		z-index: 0;
}
