#Home_Robot {
  top: 0px;
  position: absolute;
}

#Home_Robot {
  left: 0px;
  position: absolute;
}

#Home_Robot {
  width: 1240px;
}

#Home_Robot {
  height: 600px;
}

#Home_Robot {
  z-index: 0;
}

#Home_Robot > .container {
  border-style: solid;
}

#Home_Robot > .container {
  border-width: 5px;
}

#Home_Robot > .container {
  border-color: #ff8500;
}

#Home_Table_breaseTabItemTab.tabItem {
  height: 30px;
}

#Home_Table_breaseTabItemTab.tabItem {
  width: 150px;
}

#Home_Table {
  z-index: 0;
}

#Home_Table_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 1px 1px 0px;
}

#Home_Image1 {
  top: 10px;
  position: absolute;
}

#Home_Image1 {
  left: 10px;
  position: absolute;
}

#Home_Image1 {
  width: 1220px;
}

#Home_Image1 {
  height: 545px;
}

#Home_Image1 {
  z-index: 0;
}

#Home_NavigationButton1 {
  top: 125px;
  position: absolute;
}

#Home_NavigationButton1 {
  left: 660px;
  position: absolute;
}

#Home_NavigationButton1 {
  width: 129px;
}

#Home_NavigationButton1 {
  height: 120px;
}

#Home_NavigationButton1 {
  z-index: 1;
}

#Home_NavigationButton1:not(.active):not(.checked) {
  border-width: 0px;
}

#Home_NavigationButton1.disabled {
  border-width: 0px;
}

#Home_NavigationButton1:not(.disabled):not(.checked) {
  border-color: red;
}

#Home_NavigationButton1 {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

#Home_TabItem1_breaseTabItemTab.tabItem {
  height: 30px;
}

#Home_TabItem1_breaseTabItemTab.tabItem {
  width: 150px;
}

#Home_TabItem1 {
  z-index: 1;
}

#Home_BarChart1 {
  top: 45px;
  position: absolute;
}

#Home_BarChart1 {
  left: 63px;
  position: absolute;
}

#Home_BarChart1 {
  width: 480px;
}

#Home_BarChart1 {
  height: 470px;
}

#Home_BarChart1 {
  z-index: 0;
}

#Home_BarChart2 {
  top: 45px;
  position: absolute;
}

#Home_BarChart2 {
  left: 591px;
  position: absolute;
}

#Home_BarChart2 {
  width: 480px;
}

#Home_BarChart2 {
  height: 470px;
}

#Home_BarChart2 {
  z-index: 1;
}

#Home_BarChart3 {
  top: 45px;
  position: absolute;
}

#Home_BarChart3 {
  left: 1123px;
  position: absolute;
}

#Home_BarChart3 {
  width: 480px;
}

#Home_BarChart3 {
  height: 470px;
}

#Home_BarChart3 {
  z-index: 2;
}

#Home_Tools_breaseTabItemTab.tabItem {
  height: 30px;
}

#Home_Tools_breaseTabItemTab.tabItem {
  width: 150px;
}

#Home_Tools {
  z-index: 2;
}

#Home_AlarmList1 {
  top: 15px;
  position: absolute;
}

#Home_AlarmList1 {
  left: 15px;
  position: absolute;
}

#Home_AlarmList1 {
  width: 1165px;
}

#Home_AlarmList1 {
  height: 525px;
}

#Home_AlarmList1 {
  z-index: 0;
}
