﻿@import "mixins.scss";
#AlarmContent_NailersTabList {
	@include elemTop(0);
}
#AlarmContent_NailersTabList {
	@include elemLeft(0);
}
#AlarmContent_NailersTabList {
	@include elemWidth(1241);
}
#AlarmContent_NailersTabList {
	@include elemHeight(600);
}
#AlarmContent_NailersTabList {
		z-index: 0;
}
#AlarmContent_NailersTabList {
	> .container{
		border-style: solid;
	}
}
#AlarmContent_NailersTabList {
	> .container{
		border-width: 5px;
	}
}
#AlarmContent_NailersTabList {
	> .container{
		border-color: rgba(255, 133, 0, 1);
	}
}
#AlarmContent_Table_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#AlarmContent_Table_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#AlarmContent_Table {
		z-index: 0;
}
#AlarmContent_Table_breaseTabItemTab {
	&.tabItem:not(.active){
		border-width: 0px 1px 1px 0px;
	}
}
#AlarmContent_AlarmList1 {
	@include elemTop(10);
}
#AlarmContent_AlarmList1 {
	@include elemLeft(5);
}
#AlarmContent_AlarmList1 {
	@include elemWidth(1215);
}
#AlarmContent_AlarmList1 {
	@include elemHeight(540);
}
#AlarmContent_AlarmList1 {
		z-index: 0;
}
#AlarmContent_AlarmListItem1 {
	@include elemWidth(200);
}
#AlarmContent_AlarmListItem1 {
		z-index: 0;
}
#AlarmContent_AlarmListItem2 {
	@include elemWidth(815);
}
#AlarmContent_AlarmListItem2 {
		z-index: 1;
}
#AlarmContent_AlarmListItem3 {
	@include elemWidth(200);
}
#AlarmContent_AlarmListItem3 {
		z-index: 2;
}
#AlarmContent_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#AlarmContent_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#AlarmContent_TabItem1 {
		z-index: 1;
}
#AlarmContent_AlarmHistory1 {
	@include elemTop(10);
}
#AlarmContent_AlarmHistory1 {
	@include elemLeft(5);
}
#AlarmContent_AlarmHistory1 {
	@include elemWidth(1215);
}
#AlarmContent_AlarmHistory1 {
	@include elemHeight(540);
}
#AlarmContent_AlarmHistory1 {
		z-index: 0;
}
