#AlarmContent_NailersTabList {
  top: 0px;
  position: absolute;
}

#AlarmContent_NailersTabList {
  left: 0px;
  position: absolute;
}

#AlarmContent_NailersTabList {
  width: 1241px;
}

#AlarmContent_NailersTabList {
  height: 600px;
}

#AlarmContent_NailersTabList {
  z-index: 0;
}

#AlarmContent_NailersTabList > .container {
  border-style: solid;
}

#AlarmContent_NailersTabList > .container {
  border-width: 5px;
}

#AlarmContent_NailersTabList > .container {
  border-color: #ff8500;
}

#AlarmContent_Table_breaseTabItemTab.tabItem {
  height: 30px;
}

#AlarmContent_Table_breaseTabItemTab.tabItem {
  width: 150px;
}

#AlarmContent_Table {
  z-index: 0;
}

#AlarmContent_Table_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 1px 1px 0px;
}

#AlarmContent_AlarmList1 {
  top: 10px;
  position: absolute;
}

#AlarmContent_AlarmList1 {
  left: 5px;
  position: absolute;
}

#AlarmContent_AlarmList1 {
  width: 1215px;
}

#AlarmContent_AlarmList1 {
  height: 540px;
}

#AlarmContent_AlarmList1 {
  z-index: 0;
}

#AlarmContent_AlarmListItem1 {
  width: 200px;
}

#AlarmContent_AlarmListItem1 {
  z-index: 0;
}

#AlarmContent_AlarmListItem2 {
  width: 815px;
}

#AlarmContent_AlarmListItem2 {
  z-index: 1;
}

#AlarmContent_AlarmListItem3 {
  width: 200px;
}

#AlarmContent_AlarmListItem3 {
  z-index: 2;
}

#AlarmContent_TabItem1_breaseTabItemTab.tabItem {
  height: 30px;
}

#AlarmContent_TabItem1_breaseTabItemTab.tabItem {
  width: 150px;
}

#AlarmContent_TabItem1 {
  z-index: 1;
}

#AlarmContent_AlarmHistory1 {
  top: 10px;
  position: absolute;
}

#AlarmContent_AlarmHistory1 {
  left: 5px;
  position: absolute;
}

#AlarmContent_AlarmHistory1 {
  width: 1215px;
}

#AlarmContent_AlarmHistory1 {
  height: 540px;
}

#AlarmContent_AlarmHistory1 {
  z-index: 0;
}
