@import "mixins.scss";
@mixin widgets_brease_TabControl_base {
	@include elemWidth(250);
	@include elemHeight(150);
> .tabbar {
	background-color: transparent;
}
> .container {
	background-color: transparent;
}
> .container {
	border-style: none;
}
> .container {
	border-width: 2px;
}
> .container {
	@include border-radius(0px);
}
> .container {
	border-color: #5B7C70;
}
> .container {
	padding: 0px;
}
	margin: 0px;

}

