﻿
/* search input moved out of datatables wraper, set margin manually again */
.dataTables_filter input {
    margin-left: 0.5em;
}

.fa-ll {
    font-size: 1.6em;
}

i.event-opcUa {
    color: #FCA130
}

i.event-session {
    color: #CC9966
}

i.event-widgets {
    color: #49CC90
}

i.event-clientSystem {
    color: #61AFFE
}

div#timelineVis {
    padding-top: 10px;
    height: 50%;
}

div.vis-timeline {
    border: 0px;
}

div.vis-item {
    border-color: #000000;
    border-width: 1px;
    background-color: #f9f9f9;
}

div.vis-item-content {
    font-size: 14px;
}

div#eventActions_wrapper {
    padding-top: 0px;
    height: 50%
}

#eventActions_contentWrapper {
    padding-top: 10px;
    width: 1100px;
    height: 100%;
}

#eventActions_viewWrapper {
    width: 100%;
    height: 92%;
}

.actionButton {
    cursor: pointer;
    padding-left: 12px;
    padding-top: 2px;
    opacity: 0.8;
}

.actionButton:hover {
    opacity: 1;
}

i.stackButton {
    width: 28px;
    padding-left: 8px;
}

i.disabled {
    opacity: 0.4;
    pointer-events: none;
}

i.expand-in-circle {
    color: rgb(230,230,230);
    font-size: 1.2em;
    line-height: 1.7em;
}

i.step-forward-in-circle {
    color: rgb(230,230,230);
    font-size: 1.2em;
    line-height: 1.7em;
}

#eventActions_filter {
    float: right;
    padding: 8px 8px;
}

div.vis-rolling-mode-btn {
    background: black;
    width: 34px;
    height: 34px;
    font-size: 20px;
    line-height: 1.6em;
}

div.vis-rolling-mode-btn:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f051";
    color: rgb(230,230,230);
}

#eventActions tbody tr.selected {
    background-color: #FFF785;
}

#eventActions tbody > tr.odd.selected > .sorting_1, #eventActions tbody > tr.even.selected > .sorting_1 {
    background-color: #FFF785;
}
