﻿@import "mixins.scss";
#NailerContent_NailersTabList {
	@include elemTop(0);
}
#NailerContent_NailersTabList {
	@include elemLeft(0);
}
#NailerContent_NailersTabList {
	@include elemWidth(1241);
}
#NailerContent_NailersTabList {
	@include elemHeight(600);
}
#NailerContent_NailersTabList {
		z-index: 0;
}
#NailerContent_NailersTabList {
	> .container{
		border-style: solid;
	}
}
#NailerContent_NailersTabList {
	> .container{
		border-width: 5px;
	}
}
#NailerContent_NailersTabList {
	> .container{
		border-color: rgba(255, 133, 0, 1);
	}
}
#NailerContent_Table_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#NailerContent_Table_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#NailerContent_Table {
		z-index: 0;
}
#NailerContent_Table_breaseTabItemTab {
	&.tabItem:not(.active){
		border-width: 0px 1px 1px 0px;
	}
}
#NailerContent_GroupBox1 {
	@include elemTop(15);
}
#NailerContent_GroupBox1 {
	@include elemLeft(685);
}
#NailerContent_GroupBox1 {
	@include elemWidth(245);
}
#NailerContent_GroupBox1 {
	@include elemHeight(365);
}
#NailerContent_GroupBox1 {
		z-index: 0;
}
#NailerContent_GroupBox1 {
	> .header{
		background-color: rgba(105, 105, 105, 1);
	}
}
#NailerContent_GroupBox1 {
	> .header{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#696969 75%)');
	}
}
#NailerContent_GroupBox1 {
	> .header span{
		color: rgba(255, 255, 255, 1);
	}
}
#NailerContent_Button1 {
	@include elemWidth(100);
}
#NailerContent_Button1 {
	@include elemTop(11);
}
#NailerContent_Button1 {
	@include elemLeft(8);
}
#NailerContent_Button1 {
	@include elemHeight(40);
}
#NailerContent_Button1 {
		z-index: 0;
}
#NailerContent_Button1 {
	@include border-radius(5px);
}
#NailerContent_Button2 {
	@include elemWidth(100);
}
#NailerContent_Button2 {
	@include elemTop(51);
}
#NailerContent_Button2 {
	@include elemLeft(8);
}
#NailerContent_Button2 {
	@include elemHeight(40);
}
#NailerContent_Button2 {
		z-index: 1;
}
#NailerContent_Button2 {
	@include border-radius(5px);
}
#NailerContent_Button7 {
	@include elemWidth(100);
}
#NailerContent_Button7 {
	@include elemTop(11);
}
#NailerContent_Button7 {
	@include elemLeft(133);
}
#NailerContent_Button7 {
	@include elemHeight(40);
}
#NailerContent_Button7 {
		z-index: 2;
}
#NailerContent_Button7 {
	@include border-radius(5px);
}
#NailerContent_Button8 {
	@include elemWidth(100);
}
#NailerContent_Button8 {
	@include elemTop(51);
}
#NailerContent_Button8 {
	@include elemLeft(133);
}
#NailerContent_Button8 {
	@include elemHeight(40);
}
#NailerContent_Button8 {
		z-index: 3;
}
#NailerContent_Button8 {
	@include border-radius(5px);
}
#NailerContent_indicator {
	@include elemTop(116);
}
#NailerContent_indicator {
	@include elemLeft(14);
}
#NailerContent_indicator {
	@include elemWidth(20);
}
#NailerContent_indicator {
	@include elemHeight(20);
}
#NailerContent_indicator {
		z-index: 4;
}
#NailerContent_indicator {
		background-color: rgba(0, 255, 0, 1);
}
#NailerContent_Label1 {
	@include elemTop(116);
}
#NailerContent_Label1 {
	@include elemLeft(33);
}
#NailerContent_Label1 {
	@include elemWidth(118);
}
#NailerContent_Label1 {
	@include elemHeight(18);
}
#NailerContent_Label1 {
		z-index: 5;
}
#NailerContent_indicator1 {
	@include elemTop(151);
}
#NailerContent_indicator1 {
	@include elemLeft(14);
}
#NailerContent_indicator1 {
	@include elemWidth(20);
}
#NailerContent_indicator1 {
	@include elemHeight(20);
}
#NailerContent_indicator1 {
		z-index: 6;
}
#NailerContent_indicator1 {
		background-color: rgba(255, 0, 0, 1);
}
#NailerContent_Label2 {
	@include elemTop(151);
}
#NailerContent_Label2 {
	@include elemLeft(33);
}
#NailerContent_Label2 {
	@include elemWidth(118);
}
#NailerContent_Label2 {
	@include elemHeight(18);
}
#NailerContent_Label2 {
		z-index: 7;
}
#NailerContent_Image1 {
	@include elemTop(15);
}
#NailerContent_Image1 {
	@include elemLeft(265);
}
#NailerContent_Image1 {
	@include elemWidth(415);
}
#NailerContent_Image1 {
	@include elemHeight(365);
}
#NailerContent_Image1 {
		z-index: 1;
}
#NailerContent_GroupBox2 {
	@include elemTop(15);
}
#NailerContent_GroupBox2 {
	@include elemLeft(10);
}
#NailerContent_GroupBox2 {
	@include elemWidth(245);
}
#NailerContent_GroupBox2 {
	@include elemHeight(365);
}
#NailerContent_GroupBox2 {
		z-index: 2;
}
#NailerContent_GroupBox2 {
	> .header{
		background-color: rgba(105, 105, 105, 1);
	}
}
#NailerContent_GroupBox2 {
	> .header{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#696969 75%)');
	}
}
#NailerContent_GroupBox2 {
	> .header span{
		color: rgba(255, 255, 255, 1);
	}
}
#NailerContent_Button3 {
	@include elemWidth(100);
}
#NailerContent_Button3 {
	@include elemTop(11);
}
#NailerContent_Button3 {
	@include elemLeft(8);
}
#NailerContent_Button3 {
	@include elemHeight(40);
}
#NailerContent_Button3 {
		z-index: 0;
}
#NailerContent_Button3 {
	@include border-radius(5px);
}
#NailerContent_Button4 {
	@include elemWidth(100);
}
#NailerContent_Button4 {
	@include elemTop(51);
}
#NailerContent_Button4 {
	@include elemLeft(8);
}
#NailerContent_Button4 {
	@include elemHeight(40);
}
#NailerContent_Button4 {
		z-index: 1;
}
#NailerContent_Button4 {
	@include border-radius(5px);
}
#NailerContent_Button9 {
	@include elemWidth(100);
}
#NailerContent_Button9 {
	@include elemTop(11);
}
#NailerContent_Button9 {
	@include elemLeft(133);
}
#NailerContent_Button9 {
	@include elemHeight(40);
}
#NailerContent_Button9 {
		z-index: 2;
}
#NailerContent_Button9 {
	@include border-radius(5px);
}
#NailerContent_Button10 {
	@include elemWidth(100);
}
#NailerContent_Button10 {
	@include elemTop(51);
}
#NailerContent_Button10 {
	@include elemLeft(133);
}
#NailerContent_Button10 {
	@include elemHeight(40);
}
#NailerContent_Button10 {
		z-index: 3;
}
#NailerContent_Button10 {
	@include border-radius(5px);
}
#NailerContent_indicator2 {
	@include elemTop(116);
}
#NailerContent_indicator2 {
	@include elemLeft(14);
}
#NailerContent_indicator2 {
	@include elemWidth(20);
}
#NailerContent_indicator2 {
	@include elemHeight(20);
}
#NailerContent_indicator2 {
		z-index: 4;
}
#NailerContent_indicator2 {
		background-color: rgba(0, 255, 0, 1);
}
#NailerContent_Label3 {
	@include elemTop(116);
}
#NailerContent_Label3 {
	@include elemLeft(33);
}
#NailerContent_Label3 {
	@include elemWidth(118);
}
#NailerContent_Label3 {
	@include elemHeight(18);
}
#NailerContent_Label3 {
		z-index: 5;
}
#NailerContent_indicator3 {
	@include elemTop(151);
}
#NailerContent_indicator3 {
	@include elemLeft(14);
}
#NailerContent_indicator3 {
	@include elemWidth(20);
}
#NailerContent_indicator3 {
	@include elemHeight(20);
}
#NailerContent_indicator3 {
		z-index: 6;
}
#NailerContent_indicator3 {
		background-color: rgba(255, 0, 0, 1);
}
#NailerContent_Label4 {
	@include elemTop(151);
}
#NailerContent_Label4 {
	@include elemLeft(33);
}
#NailerContent_Label4 {
	@include elemWidth(118);
}
#NailerContent_Label4 {
	@include elemHeight(18);
}
#NailerContent_Label4 {
		z-index: 7;
}
#NailerContent_ToggleButton1 {
	@include elemTop(445);
}
#NailerContent_ToggleButton1 {
	@include elemLeft(225);
}
#NailerContent_ToggleButton1 {
	@include elemWidth(125);
}
#NailerContent_ToggleButton1 {
	@include elemHeight(60);
}
#NailerContent_ToggleButton1 {
		z-index: 3;
}
#NailerContent_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#NailerContent_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#NailerContent_TabItem1 {
		z-index: 1;
}
#NailerContent_Tools_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#NailerContent_Tools_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(150);
	}
}
#NailerContent_Tools {
		z-index: 2;
}
#NailerContent_BarChart1 {
	@include elemTop(50);
}
#NailerContent_BarChart1 {
	@include elemLeft(65);
}
#NailerContent_BarChart1 {
	@include elemWidth(650);
}
#NailerContent_BarChart1 {
	@include elemHeight(470);
}
#NailerContent_BarChart1 {
		z-index: 0;
}
