#NailerContent_NailersTabList {
  top: 0px;
  position: absolute;
}

#NailerContent_NailersTabList {
  left: 0px;
  position: absolute;
}

#NailerContent_NailersTabList {
  width: 1241px;
}

#NailerContent_NailersTabList {
  height: 600px;
}

#NailerContent_NailersTabList {
  z-index: 0;
}

#NailerContent_NailersTabList > .container {
  border-style: solid;
}

#NailerContent_NailersTabList > .container {
  border-width: 5px;
}

#NailerContent_NailersTabList > .container {
  border-color: #ff8500;
}

#NailerContent_Table_breaseTabItemTab.tabItem {
  height: 30px;
}

#NailerContent_Table_breaseTabItemTab.tabItem {
  width: 150px;
}

#NailerContent_Table {
  z-index: 0;
}

#NailerContent_Table_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 1px 1px 0px;
}

#NailerContent_GroupBox1 {
  top: 15px;
  position: absolute;
}

#NailerContent_GroupBox1 {
  left: 685px;
  position: absolute;
}

#NailerContent_GroupBox1 {
  width: 245px;
}

#NailerContent_GroupBox1 {
  height: 365px;
}

#NailerContent_GroupBox1 {
  z-index: 0;
}

#NailerContent_GroupBox1 > .header {
  background-color: dimgray;
}

#NailerContent_GroupBox1 > .header {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#696969 75%);
}

#NailerContent_GroupBox1 > .header span {
  color: white;
}

#NailerContent_Button1 {
  width: 100px;
}

#NailerContent_Button1 {
  top: 11px;
  position: absolute;
}

#NailerContent_Button1 {
  left: 8px;
  position: absolute;
}

#NailerContent_Button1 {
  height: 40px;
}

#NailerContent_Button1 {
  z-index: 0;
}

#NailerContent_Button1 {
  border-radius: 5px;
}

#NailerContent_Button2 {
  width: 100px;
}

#NailerContent_Button2 {
  top: 51px;
  position: absolute;
}

#NailerContent_Button2 {
  left: 8px;
  position: absolute;
}

#NailerContent_Button2 {
  height: 40px;
}

#NailerContent_Button2 {
  z-index: 1;
}

#NailerContent_Button2 {
  border-radius: 5px;
}

#NailerContent_Button7 {
  width: 100px;
}

#NailerContent_Button7 {
  top: 11px;
  position: absolute;
}

#NailerContent_Button7 {
  left: 133px;
  position: absolute;
}

#NailerContent_Button7 {
  height: 40px;
}

#NailerContent_Button7 {
  z-index: 2;
}

#NailerContent_Button7 {
  border-radius: 5px;
}

#NailerContent_Button8 {
  width: 100px;
}

#NailerContent_Button8 {
  top: 51px;
  position: absolute;
}

#NailerContent_Button8 {
  left: 133px;
  position: absolute;
}

#NailerContent_Button8 {
  height: 40px;
}

#NailerContent_Button8 {
  z-index: 3;
}

#NailerContent_Button8 {
  border-radius: 5px;
}

#NailerContent_indicator {
  top: 116px;
  position: absolute;
}

#NailerContent_indicator {
  left: 14px;
  position: absolute;
}

#NailerContent_indicator {
  width: 20px;
}

#NailerContent_indicator {
  height: 20px;
}

#NailerContent_indicator {
  z-index: 4;
}

#NailerContent_indicator {
  background-color: lime;
}

#NailerContent_Label1 {
  top: 116px;
  position: absolute;
}

#NailerContent_Label1 {
  left: 33px;
  position: absolute;
}

#NailerContent_Label1 {
  width: 118px;
}

#NailerContent_Label1 {
  height: 18px;
}

#NailerContent_Label1 {
  z-index: 5;
}

#NailerContent_indicator1 {
  top: 151px;
  position: absolute;
}

#NailerContent_indicator1 {
  left: 14px;
  position: absolute;
}

#NailerContent_indicator1 {
  width: 20px;
}

#NailerContent_indicator1 {
  height: 20px;
}

#NailerContent_indicator1 {
  z-index: 6;
}

#NailerContent_indicator1 {
  background-color: red;
}

#NailerContent_Label2 {
  top: 151px;
  position: absolute;
}

#NailerContent_Label2 {
  left: 33px;
  position: absolute;
}

#NailerContent_Label2 {
  width: 118px;
}

#NailerContent_Label2 {
  height: 18px;
}

#NailerContent_Label2 {
  z-index: 7;
}

#NailerContent_Image1 {
  top: 15px;
  position: absolute;
}

#NailerContent_Image1 {
  left: 265px;
  position: absolute;
}

#NailerContent_Image1 {
  width: 415px;
}

#NailerContent_Image1 {
  height: 365px;
}

#NailerContent_Image1 {
  z-index: 1;
}

#NailerContent_GroupBox2 {
  top: 15px;
  position: absolute;
}

#NailerContent_GroupBox2 {
  left: 10px;
  position: absolute;
}

#NailerContent_GroupBox2 {
  width: 245px;
}

#NailerContent_GroupBox2 {
  height: 365px;
}

#NailerContent_GroupBox2 {
  z-index: 2;
}

#NailerContent_GroupBox2 > .header {
  background-color: dimgray;
}

#NailerContent_GroupBox2 > .header {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#696969 75%);
}

#NailerContent_GroupBox2 > .header span {
  color: white;
}

#NailerContent_Button3 {
  width: 100px;
}

#NailerContent_Button3 {
  top: 11px;
  position: absolute;
}

#NailerContent_Button3 {
  left: 8px;
  position: absolute;
}

#NailerContent_Button3 {
  height: 40px;
}

#NailerContent_Button3 {
  z-index: 0;
}

#NailerContent_Button3 {
  border-radius: 5px;
}

#NailerContent_Button4 {
  width: 100px;
}

#NailerContent_Button4 {
  top: 51px;
  position: absolute;
}

#NailerContent_Button4 {
  left: 8px;
  position: absolute;
}

#NailerContent_Button4 {
  height: 40px;
}

#NailerContent_Button4 {
  z-index: 1;
}

#NailerContent_Button4 {
  border-radius: 5px;
}

#NailerContent_Button9 {
  width: 100px;
}

#NailerContent_Button9 {
  top: 11px;
  position: absolute;
}

#NailerContent_Button9 {
  left: 133px;
  position: absolute;
}

#NailerContent_Button9 {
  height: 40px;
}

#NailerContent_Button9 {
  z-index: 2;
}

#NailerContent_Button9 {
  border-radius: 5px;
}

#NailerContent_Button10 {
  width: 100px;
}

#NailerContent_Button10 {
  top: 51px;
  position: absolute;
}

#NailerContent_Button10 {
  left: 133px;
  position: absolute;
}

#NailerContent_Button10 {
  height: 40px;
}

#NailerContent_Button10 {
  z-index: 3;
}

#NailerContent_Button10 {
  border-radius: 5px;
}

#NailerContent_indicator2 {
  top: 116px;
  position: absolute;
}

#NailerContent_indicator2 {
  left: 14px;
  position: absolute;
}

#NailerContent_indicator2 {
  width: 20px;
}

#NailerContent_indicator2 {
  height: 20px;
}

#NailerContent_indicator2 {
  z-index: 4;
}

#NailerContent_indicator2 {
  background-color: lime;
}

#NailerContent_Label3 {
  top: 116px;
  position: absolute;
}

#NailerContent_Label3 {
  left: 33px;
  position: absolute;
}

#NailerContent_Label3 {
  width: 118px;
}

#NailerContent_Label3 {
  height: 18px;
}

#NailerContent_Label3 {
  z-index: 5;
}

#NailerContent_indicator3 {
  top: 151px;
  position: absolute;
}

#NailerContent_indicator3 {
  left: 14px;
  position: absolute;
}

#NailerContent_indicator3 {
  width: 20px;
}

#NailerContent_indicator3 {
  height: 20px;
}

#NailerContent_indicator3 {
  z-index: 6;
}

#NailerContent_indicator3 {
  background-color: red;
}

#NailerContent_Label4 {
  top: 151px;
  position: absolute;
}

#NailerContent_Label4 {
  left: 33px;
  position: absolute;
}

#NailerContent_Label4 {
  width: 118px;
}

#NailerContent_Label4 {
  height: 18px;
}

#NailerContent_Label4 {
  z-index: 7;
}

#NailerContent_ToggleButton1 {
  top: 445px;
  position: absolute;
}

#NailerContent_ToggleButton1 {
  left: 225px;
  position: absolute;
}

#NailerContent_ToggleButton1 {
  width: 125px;
}

#NailerContent_ToggleButton1 {
  height: 60px;
}

#NailerContent_ToggleButton1 {
  z-index: 3;
}

#NailerContent_TabItem1_breaseTabItemTab.tabItem {
  height: 30px;
}

#NailerContent_TabItem1_breaseTabItemTab.tabItem {
  width: 150px;
}

#NailerContent_TabItem1 {
  z-index: 1;
}

#NailerContent_Tools_breaseTabItemTab.tabItem {
  height: 30px;
}

#NailerContent_Tools_breaseTabItemTab.tabItem {
  width: 150px;
}

#NailerContent_Tools {
  z-index: 2;
}

#NailerContent_BarChart1 {
  top: 50px;
  position: absolute;
}

#NailerContent_BarChart1 {
  left: 65px;
  position: absolute;
}

#NailerContent_BarChart1 {
  width: 650px;
}

#NailerContent_BarChart1 {
  height: 470px;
}

#NailerContent_BarChart1 {
  z-index: 0;
}
