﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2" id="Maint" layoutRefId="layout_0" displayName="Maintenance">
  <Assignments>
    <Assignment type="Content" baseContentRefId="Header" areaRefId="AreaHeader" />
    <Assignment type="Content" baseContentRefId="Status" areaRefId="AreaStatus" />
    <Assignment type="Content" baseContentRefId="MaintContent" areaRefId="AreaContent" backGroundGradient="linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(200,200,200,1) 100%)" />
    <Assignment type="Content" baseContentRefId="Navigation" areaRefId="AreaNavigation" backGroundGradient="linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(200,200,200,1) 100%)" />
  </Assignments>
</pdef:Page>
