.widgets_brease_DateTimeOutput_style_default{width:200px;height:30px;border-width:2px;border-radius:0px;background-color:#FFFFFF;border-color:transparent;border-style:solid;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center;opacity:1;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);font-family:Arial;font-size:14px;font-weight:bold;font-style:normal;padding:0 15px 0 15px;margin:0px;box-shadow:none}.widgets_brease_DateTimeOutput_style_default span{color:#333333}
