.widgets_brease_Image_style_default{width:150px;height:100px;background-color:transparent;border-style:none;border-width:2px;border-color:#333;border-radius:0px;opacity:1;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);margin:0px;box-shadow:none}.widgets_brease_Image_style_default>.ImageView>svg{fill:#000000}
